
<!DOCTYPE HTML>
@{
    var ControllerName = ViewContext.RouteData.Values["controller"].ToString();
    var ViewPageName = ViewContext.RouteData.Values["action"].ToString();
    var time = Session.Timeout;
    if (Session["CompanyName"] != null)
    {
       
    }
    else
    {
        Context.Response.Redirect("~/user/Login");
    }
}
<html>
<head>
    <title>「@ViewBag.Title」TennicOrderSystem | TENNIC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/CdnDatatable.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/manager-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/icon-font.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/basictable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqcandlestick.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/icon-font.min.css")" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    @RenderSection("Styles", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">
                    <div class="w3layouts-left">
                        <span>帳合先名</span>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="w3layouts-right">
                        <span>
                            @{
                                if (Session["CompanyName"] != null)
                                {
                                    <a href="#" style="color:white">@Session["CompanyName"]</a>
                                }
                                else
                                {

                                }
                            }
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>


                    <div class="clearfix"> </div>
                </div>
                <!--heder end here-->
                @RenderBody()
                <!-- script-for sticky-nav -->
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">

                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                <div class="copyrights">
                    <p>© 2020 TENNIC. All rights reserved</p>
                </div>
                <!--COPY rights end here-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <img src="~/images/tennic.png" alt=""></a>
                <span>Order System</span>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i> <span>ホーム</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>


                    <li id="menu-academico">
                        <a href="@Url.Action("Order_Portal", "Order")">
                            <i class="fa fa-shopping-cart nav_icon"></i><span>発注ポータル</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Order_Input", "Order")">
                            <i class="fa fa-table" aria-hidden="true"></i><span>発注入力</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li id="menu-academico">
                        @*<a href="order_history.html">*@
                        <a href="@Url.Action("Order_History", "Order")">
                            <i class="fa fa-history"></i><span>発注履歴</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>

                    <li id="menu-academico">
                        <a href="~/Inventories/inventories">
                            <i class="fa fa-search" aria-hidden="true"></i><span>在庫照会</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                   
                    <li id="menu-academico">
                        <a href="@Url.Action("News_Editor", "NewsEditor")">
                                <i class="fa fa-plus" aria-hidden="true"></i><span>お知らせ入力</span>
                                <div class="clearfix"></div>
                            </a>
                    </li>

                    <li id="menu-academico">
                        <a href="@Url.Action("Company_Entry", "Registrations")">
                            <i class="fa fa-user" aria-hidden="true"></i><span>会社登録</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>

                    <li id="menu-academico">
                        <a href="@Url.Action("Group_Entry", "Registrations")">
                            <i class="fa fa-group" aria-hidden="true"></i><span>グループ登録</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--js -->
    @*<script src="~/Scripts/jquery.nicescroll.js"></script>
        <script src="~/Scripts/scripts.js"></script>
         Bootstrap Core JavaScript
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- /Bootstrap Core JavaScript -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/CdnDatatable.js")"></script>
    @RenderSection("scripts", required: false)
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script>
        $(document).ready(function () {
            var navoffeset = $(".header-main").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".header-main").addClass("fixed");
                } else {
                    $(".header-main").removeClass("fixed");
                }
            });

        });
    </script>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({
                    "position": "absolute"
                });
            } else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({
                        "position": "relative"
                    });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
</body>
</html>


