@using System.Linq;

@model TOS_Model.MultipleModel
@{
    ViewBag.Title = "Group_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Registrations/M_Companay_Select',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlCompanyName").append(
                            $('<option></option>').val(name.CompanyCD).html(name.CompanyName));
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Registrations/M_Brand_Select',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlBrandName").append(
                            $('<option></option>').val(name.BrandCD).html(name.BrandName));
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("[id='ddlCompanyName']").change(function () {
                var sel = $("#ddlCompanyName option:selected").text();
                var text = $('#txtarea1').val();
                if (text.length > 0) {
                    if (text.includes(sel)) { }
                    else if (sel != "選択") {
                        text += "  ," + sel;
                    }
                }
                else
                    text = sel;
                $('#txtarea1').val(text);
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("[id='ddlBrandName']").change(function () {
                var sel = $("#ddlBrandName option:selected").text();
                var text = $('#txtarea2').val();
                if (text.length > 0) {
                    if (text.includes(sel)) { }
                    else if (sel != "選択") {
                        text += "," + sel;
                    }
                }
                else
                    text = sel;
                $('#txtarea2').val(text);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rdbCompany').prop('checked', true);
            $("#ddlBrandName").attr("disabled", "disabled");
            $('#txtarea2').attr("disabled", "disabled");
            $('#txtTag').attr("disabled", "disabled");
        });
        function isNumberKey(evt) {

            var charCode = (evt.which) ? evt.which : event.keyCode

            if (charCode > 31 && (charCode < 48 || charCode > 57))

                return false;
            return true;
        }
    </script>
    <script type="text/javascript">
        $('#rdbCompany').click(function () {
            $("#ddlBrandName").attr("disabled", "disabled");
            $('#txtarea2').attr("disabled", "disabled");
            $('#txtTag').attr("disabled", "disabled");

            $('#ddlCompanyName').removeAttr("disabled");
            $('#txtarea1').removeAttr("disabled");
        });

        $('#rdbBrand').click(function () {
            $('#ddlCompanyName').attr("disabled", "disabled");
            $('#txtarea1').attr("disabled", "disabled");
            $('#txtTag').attr("disabled", "disabled");

            $('#ddlBrandName').removeAttr("disabled");
            $('#txtarea2').removeAttr("disabled");
        });
        $('#rdbTag').click(function () {
            $('#ddlBrandName').attr("disabled", "disabled");
            $('#txtarea2').attr("disabled", "disabled");
            $('#ddlCompanyName').attr("disabled", "disabled");
            $('#txtarea1').attr("disabled", "disabled");

            $('#txtTag').removeAttr("disabled");
        });
    </script>
    <style>
        .mother-grid-inner {
            display: block !important;
            background-color: #edecec !important;
        }

        .left-content {
            background-color: #edecec !important;
        }
    </style>
}
<style>
    .save {
        width: 105px;
        border-radius: 0px;
        font-size: 0.8em;
        background-color: #28a745;
        font-weight: 700;
        color: #fff;
        padding: 8px 15px;
        border: none;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../Home/Index">ホーム</a><i class="fa fa-angle-right"></i>グループ登録</li>
</ol>
@RenderPage("~/Views/CommonView/Common_View.cshtml")
@if (TempData["Smsg"] != null)
{
    <script>
        Successmessage('I', '1002', 'Message1');
    </script>
}
@if (TempData["Emsg"] != null)
{
    <script>
        Errormessage('E', '1004', 'Message1');
    </script>
}
@if (TempData["Imsg"] != null)
{
    <script>
        Infomessage('I', '1004', 'Message1');
    </script>
}
@Html.AntiForgeryToken()
@using (Html.BeginForm("InsertGroupEntry", "Registrations", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="inbox-mail">
        <div class="tab-content tab-content-in w3">
            <div class="tab-pane text-style active" id="tab1">
                <div class="inbox-right">
                    <div class="mailbox-content" id="mailbox-content">
                        <div class="mail-toolbar clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="submit" class="save">✔　登録</button>
                                    </div>
                                </div>
                            </div>
                            <table style="width:100%">
                                <tbody>
                                    <tr class="form-group_entry">
                                        <td>
                                            <label style=" font-size:100%;font-weight:100;font-family: 'Roboto', sans-serif;">グループID</label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.GroupModel.GroupID, new { @id = "txtGroupID", @class = "form-control input-sm", @autofocus = "autofocus", @required = "required", @style = "width:110px;border-radius: unset;", @maxlength = "8" })
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td>
                                            <label style=" font-size:100%;font-weight:100;font-family: 'Roboto', sans-serif;">グループ名</label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.GroupModel.GroupName, new { @id = "txtGroupName", @class = "form-control input-sm", @autofocus = "autofocus", @required = "required", @style = "width:210px;border-radius: unset;" })
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td style="font-size:100%;font-family: 'Roboto', sans-serif;"><b>グループ指定情報</b></td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td>
                                            @Html.RadioButtonFor(m => m.GroupModel.GroupInfoFlg, "1", new { @id = "rdbCompany" })
                                            <label style=" font-size:100%;font-weight:100;font-family: 'Roboto', sans-serif;">会社指定</label>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.ComModel.CompanyCD,
                                            new SelectList(Enumerable.Empty<SelectListItem>()), "選択",
                                            new {@id= "ddlCompanyName",@name= "ddlCompanyName", @class = "form-control input-sm", @style = "width :210px;border-radius: unset;" })
                                        </td>
                                        <td>
                                            @Html.RadioButtonFor(m => m.GroupModel.GroupInfoFlg, "2", new { @id = "rdbBrand" })
                                            <label style=" font-size:100%;font-weight:100;font-family: 'Roboto', sans-serif;">ブランド</label>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.MBrandModel.BrandCD,
                                            new SelectList(Enumerable.Empty<SelectListItem>()), "選択",
                                            new {@id="ddlBrandName", @class = "form-control input-sm", @style = "width :210px;border-radius: unset;" })
                                        </td>
                                        <td>
                                            @Html.RadioButtonFor(m => m.GroupModel.GroupInfoFlg, "3", new { @id = "rdbTag" })
                                            <label style=" font-size:100%;font-weight:100;font-family: 'Roboto', sans-serif;">タグ</label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.tModel.Tag, new { @id = "txtTag", @class = "form-control input-sm", @required = "required", @style = "width:210px;border-radius: unset;" })
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td></td>
                                        <td>
                                            @Html.TextAreaFor(m => m.ComModel.CompanyName, new { @id = "txtarea1", @class = "form-control input-sm", @required = "required", @style = "background-color:#E5E7E9;height:85px;" })
                                        </td>
                                        <td></td>
                                        <td>
                                            @Html.TextAreaFor(m => m.MBrandModel.BrandName, new { @id = "txtarea2", @class = "form-control input-sm", @required = "required", @style = "background-color:#E5E7E9;height:85px;" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
}


