@using System.Data;
@model  TOS_Model.MultipleModel


@{
    ViewBag.Title = "News_Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Graph CSS -->
    <link href="@Url.Content("~/Content/news.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <link href="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" rel="stylesheet" type="text/javascript" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

}

@section Scripts{
    @*get company and group*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '../NewsEditor/M_Companay_Select', // get companay
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlCompanyname").append(
                            $('<option></option>').val(name.CompanyCD).html(name.CompanyName));
                    });
                }
            });
        });


        $(document).ready(function () {
            $.ajax({
                url: '../NewsEditor/M_Group_Select', // get group
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlGroupname").append(
                            $('<option></option>').val(name.GroupID).html(name.GroupName));
                    });
                }
            });
        });
    </script>

    @*Bind table and date check*@
    <script type="text/javascript">


        $(document).ready(function () {

            InformationTable();
        });

        function InformationTable() {
            var table = $('#tbinformation').DataTable(
                {
                    language: {
                        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json",
                    },
                    columnDefs: [{
                        targets: [0],
                        className: 'saict newpd'
                    },
                    {
                        targets: [1],
                        className: 'newpd'
                    },
                    {
                        targets: [2, 3],
                        className: 'tab002tit'
                    }
                    ],

                    "destroy": true,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "aLengthMenu": [20],
                    "pagingType": "full_numbers",
                    "ajax": {
                        "url": "../NewsEditor/T_Information_Select",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "No", orderable: false },
                        { "data": "TitleName", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                //return '<button type="button" id="btnEdit" class="btn btn-outline-light" ><a class="edit" href="../../NewsEditor/News_Editor/' + row.InformationID + '"  >編集</a></button>';
                                return '<button type="button" id="btnEdit" class="btn btn-outline-light" onclick="edit(\'' + row.InformationID + '\')">編集</button>';
                            }
                        },
                        {
                            "data": "", "render": function (data, type, row) {
                                //return '<button type="button" id="btnDelete" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal"><a class="delete" href="../../NewsEditor/T_Information_Delete/' + row.InformationID + '">削除</a></button>';
                                return '<button type="button"  class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal" data-id="' + row.InformationID + '" )">削除</button>';
                            }
                        }
                    ],

                }
            );
        }


        //function closefile(e, v) {
        //    e.remove();
        //    $("#file" + v).remove();
        //}

        function checkdate() {
            var startdate = $("#txtStartDate").val();
            var enddate = $("#txtEndDate").val();
            if (Date.parse(startdate) > Date.parse(enddate)) {
                var T = "E";
                var K = "1003";
                var M = "Message1";
                Errormessage(T, K, M);
                $("#txtEndDate").val('');
            }
        }


    </script>

    @*Initial state, check change and click function*@
    <script type="text/javascript">
        $(document).ready(function () {

            $('#chkeffect').prop('checked', true);
            $('#txtdisplay_designation').val('全社');
            $('#rdbcompanywide').prop('checked', true);
            $("#ddlCompanyname").attr("disabled", "disabled");
            $('#ddlGroupname').attr("disabled", "disabled");
        });

        $(document).ready(function () {
            $('#rdbcompanywide').change(function () {
                var text = $('#txtdisplay_designation').val();
                text = '全社';
                $('#txtdisplay_designation').val(text);
            });
        });

        $('#rdbcompanywide').click(function () {
            $("#ddlCompanyname").attr("disabled", "disabled");
            $('#ddlGroupname').attr("disabled", "disabled");
            $('#ddlGroupname').val('');
            $('#ddlCompanyname').val('');
        });

        $('#rdocompanydesignation').click(function () {
            $('#ddlGroupname').attr("disabled", "disabled");
            $('#ddlGroupname').val('');
            $("#ddlCompanyname").removeAttr("disabled");
        });
        $('#rdogroupdesignation').click(function () {
            $('#ddlCompanyname').attr("disabled", "disabled");
            $('#ddlCompanyname').val('');
            $("#ddlGroupname").removeAttr("disabled");
        });

        $(function () {
            $("[id='ddlCompanyname']").change(function () {
                var sel = $("#ddlCompanyname option:selected").text();
                var text = $('#txtdisplay_designation').val();
                text = sel;
                $('#txtdisplay_designation').val(text);
            });
        });

        $(function () {
            $("[id='ddlGroupname']").change(function () {
                var sel = $("#ddlGroupname option:selected").text();
                var text = $('#txtdisplay_designation').val();
                text = sel;
                $('#txtdisplay_designation').val(text);
            });
        });
    </script>

    @*Delete function*@
    <script>
        var DeleteID = "";

        $(document).on("click", ".btn-outline-danger", function () {
            var deleteid = $(this).data('id');
            DeleteID = deleteid;
        });
        function deleteConfirm() {
            $.ajax({
                url: '../NewsEditor/T_Information_Delete/' + DeleteID,
                type: 'POST',
                dataType: 'JSON',

                success: function (data) {

                    if (data == "OK") {
                        //var Q = "Q";
                        //var K = "1001";
                        //var M = "Message2";
                        //Successmessage(Q, K, M);
                        // window.location = "?message=delete";
                        DeleteID = null;
                        InformationTable();
                    }
                    else {
                        //var Q = "Q";
                        //var K = "1001";
                        //var M = "Message2";
                        //Errormessage(Q, K, M);
                        DeleteID = null;
                        InformationTable();
                    }

                }

            });

        }

    </script>
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../Home/Index">ホーム</a><i class="fa fa-angle-right"></i>お知らせ入力</li>
</ol>


@RenderPage("~/Views/CommonView/Common_View.cshtml")

@*@if (Request["message"] == "delete")
    {
        <script>

            Successmessage('Q', '1001', 'Message2');
        </script>
    }*@

@if (TempData["Save"] != null)
{
    <script>
        Successmessage('I', '1002', 'Message1');
    </script>
}

@if (TempData["Nosave"] != null)
{
    <script>
        Errormessage('E', '1004', 'Message1');
    </script>
}
@if (TempData["update"] != null)
{
    <script>
        Successmessage('I', '1003', 'Message1');
    </script>
}
@if (TempData["noupdate"] != null)
{
    <script>
        Errormessage('E', '1004', 'Message1');
    </script>
}

@using (Html.BeginForm("T_Information_SaveEdit", "NewsEditor", FormMethod.Post, new { enctype = "multipart/form-data", @id = "MyForm" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <style>

        .form-control {
            border-radius: 0px;
        }

        .left-content {
            background-color: #edecec !important;
        }

        .modal-header {
            display: block;
        }

        .mother-grid-inner {
            display: block !important;
            background-color: #edecec !important;
        }

        .left-content {
            background-color: #edecec !important;
        }

        tr.even {
            background-color: #CCDDFF !important;
        }

        table.dataTable {
            border-collapse: collapse !important;
            border-spacing: 0;
        }

            table.dataTable tbody th, table.dataTable tbody td {
                padding: unset;
            }

            table.dataTable thead th, table.dataTable thead td {
                padding: unset;
                border-bottom: unset;
            }

        .save {
            width: 105px;
            border-radius: 0px;
            font-size: 0.8em;
            background-color: #28a745;
            font-weight: 700;
            color: #fff;
            padding: 8px 15px;
            border: none;
        }

        .btn-outline-light {
            border-style: none;
        }

        .save:hover {
            background-color: #218838;
        }

        .delete:hover {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-outline-danger {
            border-style: none;
        }

            .btn-outline-danger:hover {
                color: #fff;
                background-color: #dc3545;
                border-color: #dc3545;
            }

        .btn {
            border-radius: 0px;
            font-size: 0.8em;
            font-weight: 700;
            padding: 8px 15px;
            letter-spacing: 0.02em;
        }

        .tab002tit1 {
            background-color: #003492;
            color: white;
            text-align: center;
            width: 40px;
            border: 1px solid #999999;
        }

        .tab002tit2 {
            background-color: #003492;
            color: white;
            text-align: center;
            width: 500px;
            border: 1px solid #999999;
        }

        .tab002tit3 {
            background-color: #003492;
            color: white;
            text-align: center;
            width: 80px;
            border: 1px solid #999999;
        }
    </style>



    <div class="inbox-mail">
        <!-- tab content -->
        <div class="tab-content tab-content-in w3">
            <div class="tab-pane text-style active" id="tab1">
                <div class="inbox-right">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="newl col-md-5">
                                <div class="boxer">
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control">
                                                @*<input type="radio" class="custom-control-input" id="rdocompanywide" name="rdocompanywide" value="1">*@
                                                @Html.HiddenFor(m => m.TinfoModel.InformationID, new { @id = "hfinfoid" })
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "1", new { @checked = "true", @id = "rdbcompanywide" })
                                                <label style="font-weight:unset;">全社</label>
                                            </div>
                                        </div>
                                        <div class="box"></div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control">
                                                @*<input type="radio" class="custom-control-input" id="rdocompanydesignation" name="rdocompanydesignation" value="2">*@
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "2", new { @id = "rdocompanydesignation" })
                                                <label style="font-weight:unset;">会社指定</label>
                                            </div>
                                        </div>
                                        <div class="box">

                                            @Html.DropDownListFor(m => m.ComModel.CompanyCD, new SelectList(Enumerable.Empty<SelectListItem>(), "CompanyCD", "CompanyName"), "--- 選択---",
         new { @class = "comp", @id = "ddlCompanyname" , @style = "width:250px;min-width:unset;" })

                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control" style="width: 140px;">
                                                @*<input type="radio" class="custom-control-input" id="rdogroupdesignation" name="rdogroupdesignation" value="3">*@
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "3", new { @id = "rdogroupdesignation" })
                                                <label style="font-weight:unset;">グループ指定</label>
                                            </div>
                                        </div>
                                        <div class="box">

                                            @Html.DropDownListFor(m => m.GroupModel.GroupID, new SelectList(Enumerable.Empty<SelectListItem>(), "GroupID", "GroupName"), "--- 選択---",
        new { @class = "comp", @id = "ddlGroupname", @style = "width:250px;min-width:unset;" })
                                        </div>
                                    </div>
                                    <div class="box-row">

                                        <div class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;お知らせタイプ</div>
                                        <div class="box">
                                            @Html.DropDownListFor(m => m.TinfoModel.InformationType, new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="--- 選択---", Value = "0" },
                                            new SelectListItem{ Text="重要", Value = "1" },
                                            new SelectListItem{ Text="News", Value = "2" },
                                            new SelectListItem{ Text="新規発売", Value = "3" },
                                            new SelectListItem{ Text="商品情報", Value = "4" },
                                            new SelectListItem{ Text="その他", Value = "5" }
                                            }, new { @class = "comp", @id = "ddlInfoType", @style = "width:250px;min-width:unset;" })
                                        </div>
                                    </div>

                                    <div class="box-row">
                                        <div class="box" style="width:50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表示期間 <label style="color:red;">*</label></div>
                                        <div class="box">
                                            <label class="nativeDatePicker">
                                                @*<input type="date" name="bday" class="form-control" id="lbldisplay_startdate">*@
                                                @Html.TextBoxFor(m => m.TinfoModel.DisplayStartDate, new { @class = "form-control", @type = "date", @id = "txtStartDate", @style = "font-size:17px;", required = "required" })

                                            </label>～
                                            <label class="nativeDatePicker">
                                                @*<input type="date" name="bday" class="form-control" id="lbldisplay_enddate">*@
                                                @Html.TextBoxFor(m => m.TinfoModel.DisplayEndDate, new { @class = "form-control", @type = "date", @id = "txtEndDate", @style = "font-size:17px;", required = "required", onchange = "checkdate()" })
                                            </label>
                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box" style="width:50px;">
                                            <div class="form-check">
                                                @*<input type="checkbox" id="exampleCheck1">*@
                                                @Html.CheckBoxFor(m => m.TinfoModel.EffectFlag, new { @id = "chkeffect" })
                                                <label style="font-weight:unset;">有効</label>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="sair" style="width:475px;">
                                                <button type="submit" id="btnsave" class="save">✔　登録</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="boxberb" style="width:630px;">
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">日付</div>
                                        <div class="boxb">
                                            @*<input class="form-control" type="tel" value="" />*@
                                            @Html.TextBoxFor(m => m.TinfoModel.Date, new { @class = "form-control", @type = "date", @id = "txtDate", @style = "font-size:17px;" })
                                        </div>
                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">課題名 <label style="color:red;">*</label> </div>
                                        <div class="boxb">
                                            @*<input class="form-control" type="tel" value="" />*@
                                            @Html.TextBoxFor(m => m.TinfoModel.TitleName, new { @class = "form-control", @maxlength = "150", @id = "txttitlename", required = "required" })
                                        </div>

                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">表示指定</div>
                                        <div class="boxb">
                                            <input class="form-control" type="tel" value="" disabled id="txtdisplay_designation" />
                                        </div>
                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">添付ファイル</div>
                                        <div class="boxb">
                                            <div class="input-group-prepend">

                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile03">
                                                <label class="custom-file-label" for="inputGroupFile03">ファイル選択</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" id="CancleFile" name="CancleFile" hidden />
                                <input type="text" id="SendEditFile" name="SendEditFile" hidden />



                                <div class="boxcerc" style="width:630px;">

                                    <div class="boxc-rowc">
                                        @*<div class="boxc">
                                            <button type="button" class="btn btn-outline-secondary">新規商品一覧.pdf&nbsp;&nbsp;✖</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>最大4ファイル添付可能。</span>
                                            </div>*@

                                        <div class="boxc">

                                            <div id="BrowseFiles" hidden>

                                            </div>
                                            <div id="BrowseFiles2">

                                            </div>
                                            <span>最大4ファイル添付可能。</span>
                                        </div>


                                    </div>
                                    <div class="boxc-rowc">
                                        <div class="boxc boxpd tab002tit">お知らせ内容</div>
                                    </div>
                                    <div class="boxc-rowc">
                                        <div class="boxc">
                                            @*<textarea class="form-control" id="txtarea" rows="15"></textarea>*@
                                            @Html.TextAreaFor(m => m.TinfoModel.DetailInformation, new { @class = "form-control", @rows = "15", @id = "txtarea" })
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function expandTextarea(id) {
                                        document.getElementById(id).addEventListener('keyup', function () {
                                            this.style.overflow = 'hidden';
                                            this.style.height = 0;
                                            this.style.height = this.scrollHeight + 'px';
                                        }, false);
                                    }

                                    expandTextarea('txtarea');</script>
                            </div>
                            <div class="newr col-md-7">

                                <div class="float-left"><h6 style="font-size: 1rem;">お知らせ一覧</h6><br /><br /></div>

                                <table class="tab002" id="tbinformation" style="margin-right:100px;">
                                    <thead>
                                        <tr class="tab002tit">
                                            <th class="tab002tit1" style="font-weight:unset;">No</th>
                                            <th class="tab002tit2" style="font-weight:unset;">課題名</th>
                                            <th class="tab002tit3">&nbsp;</th>
                                            <th class="tab002tit3">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title1" style="color:red;"><img src="~/images/DeleteImg.png" /> 削除してよろしいですか。</h4>
                @*<img src="~/images/question.png" style="width:26px;height:26px;" /> <h4 class="modal-title" style="color:red;"> </h4>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:white;background-color:red;">いいえ</button>
                <button type="button" class="btn btn-default" onclick="deleteConfirm()" data-dismiss="modal" style="color:white;background-color:red">はい</button>
            </div>
        </div>

    </div>
</div>

@*KhinSandar Script*@
@*for insert and delete attachfile*@
<script>

    var EditFileName = "";
    var cFile = "";

    $('input[type="file"]').change(function (e) {
        var cc = $("#BrowseFiles2 > label").length;
        var BrowseF = $("#BrowseFiles > input").length;

        var i = 4 - cc; //for maximum file input
        if (i == 5 || i < 1) {
            alert("only four files are accepted.");
        }
        else if (e.target.files != null) {

            if (i == 4) {


                var Filediv = document.getElementById("BrowseFiles");

                var fbutton = document.createElement("input");
                fbutton.setAttribute("type", "file");
                fbutton.setAttribute("class", "BrowseFss");
                fbutton.files = e.target.files;
                fbutton.setAttribute("id", "Insertfile" + BrowseF);
                if (BrowseF == 0) { fbutton.setAttribute("name", "Insertfile[0]"); }
                else if (BrowseF == 1) { fbutton.setAttribute("name", "Insertfile[1]"); }
                else if (BrowseF == 2) { fbutton.setAttribute("name", "Insertfile[2]"); }
                else if (BrowseF == 3) { fbutton.setAttribute("name", "Insertfile[3]"); }

                fbutton.setAttribute("multiple", "multiple");

                Filediv.appendChild(fbutton);
                var FName = e.target.files[0].name;
                var fid = "Insertfile" + BrowseF;

                var Filediv2 = document.getElementById("BrowseFiles2");
                var Lableshow = document.createElement("label");
                Lableshow.innerHTML = FName;
                Lableshow.setAttribute("id", "filee" + 1);
                Lableshow.setAttribute("class", "showfile");
                Lableshow.setAttribute("name", "file");
                Filediv2.appendChild(Lableshow);
                var $label = $('#filee' + 1);

                var $span = "<span onclick='closefile(" + Lableshow.id + "," + fid + ")' >✖</span>";

                $($label).each(function (index, item) {
                    $(this).append($span);
                });


            }
            else if (i == 3) {
                var Filediv = document.getElementById("BrowseFiles");

                var fbutton = document.createElement("input");
                fbutton.setAttribute("type", "file");
                fbutton.setAttribute("class", "BrowseFss");
                fbutton.files = e.target.files;
                fbutton.setAttribute("id", "Insertfile" + BrowseF);
                if (BrowseF == 0) { fbutton.setAttribute("name", "Insertfile[0]"); }
                else if (BrowseF == 1) { fbutton.setAttribute("name", "Insertfile[1]"); }
                else if (BrowseF == 2) { fbutton.setAttribute("name", "Insertfile[2]"); }
                else if (BrowseF == 3) { fbutton.setAttribute("name", "Insertfile[3]"); }

                fbutton.setAttribute("multiple", "multiple");

                Filediv.appendChild(fbutton);
                var FName = e.target.files[0].name;

                var fid = "Insertfile" + BrowseF;
                var Filediv2 = document.getElementById("BrowseFiles2");
                var Lableshow = document.createElement("label");
                Lableshow.innerHTML = FName;
                Lableshow.setAttribute("id", "filee" + 2);
                Lableshow.setAttribute("class", "showfile");
                Lableshow.setAttribute("name", "file");
                Filediv2.appendChild(Lableshow);
                var $label = $('#filee' + 2);

                var $span = "<span onclick='closefile(" + Lableshow.id + "," + fid + ")' >✖</span>";

                $($label).each(function (index, item) {
                    $(this).append($span);
                });

            }
            else if (i == 2) {
                var Filediv = document.getElementById("BrowseFiles");

                var fbutton = document.createElement("input");
                fbutton.setAttribute("type", "file");
                fbutton.setAttribute("class", "BrowseFss");
                fbutton.files = e.target.files;
                fbutton.setAttribute("id", "Insertfile" + BrowseF);
                if (BrowseF == 0) { fbutton.setAttribute("name", "Insertfile[0]"); }
                else if (BrowseF == 1) { fbutton.setAttribute("name", "Insertfile[1]"); }
                else if (BrowseF == 2) { fbutton.setAttribute("name", "Insertfile[2]"); }
                else if (BrowseF == 3) { fbutton.setAttribute("name", "Insertfile[3]"); }

                fbutton.setAttribute("multiple", "multiple");

                Filediv.appendChild(fbutton);
                var FName = e.target.files[0].name;
                var fid = "Insertfile" + BrowseF;

                var Filediv2 = document.getElementById("BrowseFiles2");
                var Lableshow = document.createElement("label");
                Lableshow.innerHTML = FName;
                Lableshow.setAttribute("id", "filee" + 3);
                Lableshow.setAttribute("class", "showfile");
                Lableshow.setAttribute("name", "file");
                Filediv2.appendChild(Lableshow);
                var $label = $('#filee' + 3);

                var $span = "<span onclick='closefile(" + Lableshow.id + "," + fid + ")' >✖</span>";

                $($label).each(function (index, item) {
                    $(this).append($span);
                });

            }
            else if (i == 1) {
                var Filediv = document.getElementById("BrowseFiles");

                var fbutton = document.createElement("input");
                fbutton.setAttribute("type", "file");
                fbutton.setAttribute("class", "BrowseFss");
                fbutton.files = e.target.files;
                fbutton.setAttribute("id", "Insertfile" + BrowseF);
                if (BrowseF == 0) { fbutton.setAttribute("name", "Insertfile[0]"); }
                else if (BrowseF == 1) { fbutton.setAttribute("name", "Insertfile[1]"); }
                else if (BrowseF == 2) { fbutton.setAttribute("name", "Insertfile[2]"); }
                else if (BrowseF == 3) { fbutton.setAttribute("name", "Insertfile[3]"); }

                fbutton.setAttribute("multiple", "multiple");

                Filediv.appendChild(fbutton);
                var FName = e.target.files[0].name;
                var fid = "Insertfile" + BrowseF;

                var Filediv2 = document.getElementById("BrowseFiles2");
                var Lableshow = document.createElement("label");
                Lableshow.innerHTML = FName;
                Lableshow.setAttribute("id", "filee" + 4);
                Lableshow.setAttribute("class", "showfile");
                Lableshow.setAttribute("name", "file");
                Filediv2.appendChild(Lableshow);
                var $label = $('#filee' + 4);

                var $span = "<span onclick='closefile(" + Lableshow.id + "," + fid + ")' >✖</span>";

                $($label).each(function (index, item) {
                    $(this).append($span);
                });
            }

            i = i - 1;


        }
        BrowseFss
    });



    function edit(id) {


        $(".showefile").remove(); //for not show file in other rows
        $(".BrowseFss").remove();//for get next insert file
        EditFileName = ""; //for reset edit file

        var id = id;

        $.ajax({
            type: 'GET',
            url: '../NewsEditor/News_Editor_Edit/' + id,
            dataType: 'json',
            success: function (result) {
                $('#btnsave').text('✔' + '\xa0\xa0\xa0' + '更新');

                document.getElementById("hfinfoid").value = id;

                if (result[0].DestinationFlg == 1) {
                    $('#rdbcompanywide').prop('checked', true);
                    $("#ddlCompanyname").val(null);
                    $("#ddlGroupname").val(null);
                    $('#txtdisplay_designation').val('全社');
                }


                if (result[0].DestinationFlg == 2) {
                    $('#rdocompanydesignation').prop('checked', true);
                    $("#ddlCompanyname").removeAttr("disabled");
                    $("#ddlCompanyname").val(result[0].CompanyCD);
                    $('#txtdisplay_designation').val(result[0].CompanyName);
                    $("#ddlGroupname").attr("disabled", "disabled");
                    $("#ddlGroupname").val(null);
                }

                if (result[0].DestinationFlg == 3) {
                    $('#rdogroupdesignation').prop('checked', true);
                    $("#ddlGroupname").removeAttr("disabled");
                    $("#ddlGroupname").val(result[0].GroupID);
                    $('#txtdisplay_designation').val(result[0].GroupName);
                    $("#ddlCompanyname").attr("disabled", "disabled");
                    $("#ddlCompanyname").val(null);
                }

                if (result[0].EffectFlg == 0)
                    $('#chkeffect').prop('checked', true);
                else
                    $('#chkeffect').prop('checked', false);

                $("#ddlInfoType").val(result[0].InformationType);


                if (result[0].Date == "0001-01-01")
                    $('#txtDate').val('');

                else
                    $('#txtDate').val(result[0].Date);


                $('#txtStartDate').val(result[0].DisplayStartDate);
                $('#txtEndDate').val(result[0].DisplayEndDate);

                $('#txttitlename').val(result[0].TitleName);
                $('#txtarea').val(result[0].DetailInformation);

                if (result[0].AttachedFile1 != null) {
                    EditFileName += result[0].AttachedFile1 + ",";


                    var Filediv2 = document.getElementById("BrowseFiles2");
                    var Lableshow = document.createElement("label");
                    Lableshow.setAttribute("id", "filee" + 1);
                    Lableshow.setAttribute("class", "showefile");
                    Lableshow.setAttribute("name", "EditFileLabel");
                    Filediv2.appendChild(Lableshow);
                    var $label = $('#filee' + 1);


                    var $span = "<span id='f" + 1 + "' onclick='closeEditfile(" + Lableshow.id + ")' value='" + result[0].AttachedFile1 + "' >" + result[0].AttachedFile1 + "✖</span>";

                    $($label).each(function (index, item) {
                        $(this).append($span);
                    });
                }

                if (result[0].AttachedFile2 != null) {
                    EditFileName += result[0].AttachedFile2 + ",";


                    var Filediv2 = document.getElementById("BrowseFiles2");
                    var Lableshow = document.createElement("label");
                    Lableshow.setAttribute("id", "filee" + 2);
                    Lableshow.setAttribute("class", "showefile");
                    Lableshow.setAttribute("name", "file");
                    Filediv2.appendChild(Lableshow);
                    var $label = $('#filee' + 2);

                    var $span = "<span id='f" + 2 + "' onclick='closeEditfile(" + Lableshow.id + ")' value='" + result[0].AttachedFile2 + "' >" + result[0].AttachedFile2 + "✖</span>";

                    $($label).each(function (index, item) {
                        $(this).append($span);
                    });
                }

                if (result[0].AttachedFile3 != null) {
                    EditFileName += result[0].AttachedFile3 + ",";


                    var Filediv2 = document.getElementById("BrowseFiles2");
                    var Lableshow = document.createElement("label");
                    Lableshow.setAttribute("id", "filee" + 3);
                    Lableshow.setAttribute("class", "showefile");
                    Lableshow.setAttribute("name", "file");
                    Filediv2.appendChild(Lableshow);
                    var $label = $('#filee' + 3);

                    var $span = "<span id='f" + 3 + "' onclick='closeEditfile(" + Lableshow.id + ")' value='" + result[0].AttachedFile3 + "'>" + result[0].AttachedFile3 + "✖</span>";

                    $($label).each(function (index, item) {
                        $(this).append($span);
                    });
                }

                if (result[0].AttachedFile4 != null) {
                    EditFileName += result[0].AttachedFile4 + ",";


                    var Filediv2 = document.getElementById("BrowseFiles2");
                    var Lableshow = document.createElement("label");
                    Lableshow.setAttribute("id", "filee" + 4);
                    Lableshow.setAttribute("class", "showefile");
                    Lableshow.setAttribute("name", "file");
                    Filediv2.appendChild(Lableshow);
                    var $label = $('#filee' + 4);

                    var $span = "<span id='f" + 4 + "' onclick='closeEditfile(" + Lableshow.id + ")' value='" + result[0].AttachedFile4 + "' >" + result[0].AttachedFile4 + "✖</span>";

                    $($label).each(function (index, item) {
                        $(this).append($span);
                    });
                }

                document.getElementById("SendEditFile").value = EditFileName;
                //alert(document.getElementById("SendEditFile").value);

            }
        });

    }
    function closeEditfile(e) {
        //alert(v);


        cFile += (document.getElementById(e.id).innerText).split('✖')[0] + ',';


        document.getElementById("CancleFile").value = cFile;
        e.remove();

    }
    function closefile(e, fid) {
        //alert("Hello");
        //alert(fid);

        fid.remove();
        e.remove();
    }

</script>



@*DatePicker insert*@
<script>
    // define variables
    var nativePicker = document.querySelector('.nativeDatePicker');
    var fallbackPicker = document.querySelector('.fallbackDatePicker');

    var yearSelect = document.querySelector('[name=year]');
    var monthSelect = document.querySelector('[name=month]');

    // Test whether a new date input falls back to a text input
    var testElement = document.createElement('input');

    try {
        test.type = 'date';
    } catch (e) {
        console.log(e.description);
    }

    // If it does, run the code inside the if () {} block
    if (testElement.type === 'text') {
        // hide the native picker and show the fallback
        nativePicker.hidden = true;
        fallbackPicker.hidden = false;

        // populate the days and years dynamically
        // (the months are always the same, therefore hardcoded)
        populateDays(monthSelect.value);
        populateYears();
    }

    function populateDays(month) {
        const daySelect = document.querySelector('[name=day]');
        const month = monthSelect.value;

        // Create variable to hold new number of days to inject
        let dayNum;

        // 31 or 30 days?
        switch (month) {
            case 'April':
            case 'June':
            case 'September':
            case 'November':
                dayNum = 30;
                break;
            case 'February':
                // If month is February, calculate whether it is a leap year or not
                const year = yearSelect.value;
                const isLeap = new Date(year, 1, 29).getMonth() === 1;
                dayNum = isLeap ? 29 : 28;
                break;
            default:
                dayNum = 31;
        }

        // inject the right number of new <option>s into the <select>
        daySelect.options = Array.from({
            length: dayNum
        }, function (index) {
            return index + 1;
        });

        // if previous day has already been set, set daySelect's value
        // to that day, to avoid the day jumping back to 1 when you
        // change the year
        if (previousDay) {
            daySelect.value = previousDay;

            // If the previous day was set to a high number, say 31, and then
            // you chose a month with fewer days in it (like February),
            // this code ensures that the highest day available
            // is selected, rather than showing a blank daySelect
            if (previousDay > daySelect.length + 1) {
                daySelect.selectedIndex = daySelect.length;
            }
        }
    }

    function populateYears() {
        // get this year as a number
        var year = (new Date()).getFullYear();

        // Make this year and the 100 years before it available in the <select>
        daySelect.options = Array.from({
            length: 100
        }, function (index) {
            return index + year;
        });
    }

    // when the month or year <select> values are changed, rerun populateDays()
    // in case the change affected the number of available days
    yearSelect.onchange = populateDays;
    monthSelect.onchange = populateDays;

    // preserve day selection
    var previousDay;

    // update what day has been set to previously
    // see end of populateDays() for usage
    daySelect.onchange = function () {
        previousDay = daySelect.value;
    }
</script>





