@using System.Data;
@model  TOS_Model.MultipleModel


@{
    ViewBag.Title = "News_Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Graph CSS -->
    <link href="@Url.Content("~/Content/news.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <link href="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" rel="stylesheet" type="text/javascript" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/NewsEditor/M_Companay_Select', // get companay
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlCompanyname").append(
                            $('<option></option>').val(name.CompanyCD).html(name.CompanyName));
                    });

                    if ("@Model.ComModel" != null) {
                        $("#ddlCompanyname").val(@Model.ComModel.CompanyCD);
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/NewsEditor/M_Group_Select', // get group
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlGroupname").append(
                            $('<option></option>').val(name.GroupID).html(name.GroupName));
                    });

                      if ("@Model.GroupModel" != null) {
                          $("#ddlGroupname").val(@Model.GroupModel.GroupID);
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("[id='ddlCompanyname']").change(function () {
                var sel = $("#ddlCompanyname option:selected").text();
                var text = $('#txtdisplay_designation').val();
                text = sel;
                $('#txtdisplay_designation').val(text);
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("[id='ddlGroupname']").change(function () {
                var sel = $("#ddlGroupname option:selected").text();
                var text = $('#txtdisplay_designation').val();
                text = sel;
                $('#txtdisplay_designation').val(text);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#rdbcompanywide').change(function () {
                var text = $('#txtdisplay_designation').val();
                text = '全社';
                $('#txtdisplay_designation').val(text);
            });
        });

    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tbinformation').DataTable(
                {
                    columnDefs: [{
                        targets: [0],
                        className: 'saict newpd'
                    },
                    {
                        targets: [1],
                        className: 'newpd'
                    },
                    {
                        targets: [2, 3],
                        className: 'tab002tit'
                    }
                    ],
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "aLengthMenu": [20],
                    "ajax": {
                        "url": "../../NewsEditor/T_Information_Select",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""

                    },
                    "columns": [
                        { "data": "No", orderable: false },
                        { "data": "TitleName", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<button type="button" class="btn btn-outline-light" ><a class="edit" href="../../NewsEditor/News_Editor/' + row.InformationID + '"  >編集</a></button>';
                            }
                        },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<button type="button" class="btn btn-outline-danger" ><a class="delete" href="../../NewsEditor/T_Information_Delete/' + row.InformationID + '">削除</a></button>';
                            }
                        },
                    ],
                }
            );
        });


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#rdbcompanywide').prop('checked', true);
            $("#ddlCompanyname").attr("disabled", "disabled");
            $('#ddlGroupname').attr("disabled", "disabled");


        });
    </script>

    <script type="text/javascript">
        $('#rdbcompanywide').click(function () {
            $("#ddlCompanyname").attr("disabled", "disabled");
            $('#ddlGroupname').attr("disabled", "disabled");
        });

        $('#rdocompanydesignation').click(function () {
            $('#ddlGroupname').attr("disabled", "disabled");

            $("#ddlCompanyname").removeAttr("disabled");
        });
        $('#rdogroupdesignation').click(function () {
            $('#ddlCompanyname').attr("disabled", "disabled");

            $("#ddlGroupname").removeAttr("disabled");
        });
    </script>

    <script>
        $(document).ready(function () {
            var div = document.getElementById('file');
            var div1 = document.getElementById('file1');
            $('input[type="file"]').change(function (e) {

                var fileName = e.target.files[0].name;
                var text = $('#lblattachfile').val();
                text = fileName;
                $('#lblattachfile').text(text);
                div.style.display = 'block';

            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#btndelete').click(function () {
                $(this).parent('div').remove();
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.TinfoModel"!= null) {
                if ("@Model.TinfoModel.DestinationFlag" == "2") {
                    document.getElementById("rdocompanydesignation").checked = true;
                }
            }
        });
    </script>
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">ホーム</a><i class="fa fa-angle-right"></i>お知らせ入力</li>
</ol>

@if (TempData["Imsg"] != null)
{
    <div class="row ">
        <div class="col-md-4 col-md-offset-8 pull-right" style="opacity:0.8;">
            @*<div class="alert alert-success alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @*<h4><i class="icon fa fa-info-circle"></i> Info!</h4>*@
                <strong><span class="glyphicon glyphicon-ok"></span>Info:</strong>
                @TempData["Imsg"]
            </div>
        </div>
    </div>
}

@if (TempData["Emsg"] != null)
{
    <div class="row ">
        <div class="col-md-4 col-md-offset-8 pull-right" style="opacity:0.8;">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong><span class="glyphicon glyphicon-warning-sign"></span> ERROR: </strong>
                @TempData["Emsg"]
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("T_Information_SaveEdit", "NewsEditor", FormMethod.Post, new { enctype = "multipart/form-data", @id = "MyForm" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <style>

        .mother-grid-inner {
            display: block !important;
            background-color: #edecec !important;
        }

        tr.even {
            background-color: #CCDDFF !important;
        }

        table.dataTable {
            border-collapse: collapse !important;
            border-spacing: 0;
        }

            table.dataTable tbody th, table.dataTable tbody td {
                padding: unset;
            }

            table.dataTable thead th, table.dataTable thead td {
                padding: unset;
                border-bottom: unset;
            }

        .edit {
            color: #f8f9fa;
        }

        .delete {
            color: #dc3545;
        }

        .btn-outline-light {
            border-style: none;
        }

        .edit:hover {
            color: #212529;
            background-color: #f8f9fa;
            border-color: #f8f9fa;
        }

        .delete:hover {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-outline-danger {
            border-style: none;
        }

        .btn {
            border-radius: 0px;
        }
    </style>



    <div class="inbox-mail">
        <!-- tab content -->
        <div class="tab-content tab-content-in w3">
            <div class="tab-pane text-style active" id="tab1">
                <div class="inbox-right">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="newl col-md-5">
                                <div class="boxer">
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control">
                                                @*<input type="radio" class="custom-control-input" id="rdocompanywide" name="rdocompanywide" value="1">*@
                                                @Html.HiddenFor(m => m.TinfoModel.ID)
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "1", new { @checked = "true", @id = "rdbcompanywide" })
                                                <label style="font-weight:unset;">全社</label>
                                            </div>
                                        </div>
                                        <div class="box"></div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control">
                                                @*<input type="radio" class="custom-control-input" id="rdocompanydesignation" name="rdocompanydesignation" value="2">*@
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "2", new { @id = "rdocompanydesignation" })
                                                <label style="font-weight:unset;">会社指定</label>
                                            </div>
                                        </div>
                                        <div class="box">

                                            @Html.DropDownListFor(m => m.ComModel.CompanyCD, new SelectList(Enumerable.Empty<SelectListItem>(), "CompanyCD", "CompanyName"), "--- 選択---",
         new { @class = "comp", @id = "ddlCompanyname" , @style = "width:70%;" })

                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="custom-control" style="width: 140px;">
                                                @*<input type="radio" class="custom-control-input" id="rdogroupdesignation" name="rdogroupdesignation" value="3">*@
                                                @Html.RadioButtonFor(m => m.TinfoModel.DestinationFlag, "3", new { @id = "rdogroupdesignation" })
                                                <label style="font-weight:unset;">グループ指定</label>
                                            </div>
                                        </div>
                                        <div class="box">

                                            @Html.DropDownListFor(m => m.GroupModel.GroupID, new SelectList(Enumerable.Empty<SelectListItem>(), "GroupID", "GroupName"), "--- 選択---",
        new { @class = "comp", @id = "ddlGroupname" })
                                        </div>
                                    </div>
                                    <div class="box-row">

                                        <div class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;お知らせタイプ</div>
                                        <div class="box">
                                            @Html.DropDownListFor(m => m.TinfoModel.InformationType, new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="--- 選択---", Value = "0" },
                                            new SelectListItem{ Text="重要", Value = "1" },
                                            new SelectListItem{ Text="News", Value = "2" },
                                            new SelectListItem{ Text="新規発売", Value = "3" },
                                            new SelectListItem{ Text="商品情報", Value = "4" },
                                            new SelectListItem{ Text="その他", Value = "5" }
                                            }, new { @class = "comp", @id = "ddlInfoType" })
                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表示期間</div>
                                        <div class="box">
                                            <label class="nativeDatePicker">
                                                @*<input type="date" name="bday" class="form-control" id="lbldisplay_startdate">*@
                                                @Html.TextBoxFor(m => m.TinfoModel.DisplayStartDate, new { @class = "form-control", @type = "date" })

                                            </label>～
                                            <label class="nativeDatePicker">
                                                @*<input type="date" name="bday" class="form-control" id="lbldisplay_enddate">*@
                                                @Html.TextBoxFor(m => m.TinfoModel.DisplayEndDate, new { @class = "form-control", @type = "date" })
                                            </label>
                                        </div>
                                    </div>
                                    <div class="box-row">
                                        <div class="box">
                                            <div class="form-check">
                                                @*<input type="checkbox" id="exampleCheck1">*@
                                                @Html.CheckBoxFor(m => m.TinfoModel.EffectFlag, true)
                                                <label style="font-weight:unset;">有効</label>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="sair">
                                                <button type="submit" class="btn btn-success btn-lg">✔　登録</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="boxberb">
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">日付</div>
                                        <div class="boxb">
                                            @*<input class="form-control" type="tel" value="" />*@
                                            @Html.TextBoxFor(m => m.TinfoModel.Date, new { @class = "form-control", @type = "date" })
                                        </div>
                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">課題名</div>
                                        <div class="boxb">
                                            @*<input class="form-control" type="tel" value="" />*@
                                            @Html.TextBoxFor(m => m.TinfoModel.TitleName, new { @class = "form-control", maxlength = "170" })
                                        </div>

                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">表示指定</div>
                                        <div class="boxb">
                                            <input class="form-control" type="tel" value="" disabled id="txtdisplay_designation" />
                                        </div>
                                    </div>
                                    <div class="boxb-rowb">
                                        <div class="boxb sair boxpd tab002tit">添付ファイル</div>
                                        <div class="boxb">
                                            <div class="input-group-prepend">

                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile03">
                                                <label class="custom-file-label" for="inputGroupFile03">ファイル選択</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="boxcerc">
                                    <div class="boxc-rowc">
                                        @*<div class="boxc">
                                            <button type="button" class="btn btn-outline-secondary">新規商品一覧.pdf&nbsp;&nbsp;✖</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>最大4ファイル添付可能。</span>
                                            </div>*@

                                        <div class="boxc">
                                            <div id="file" style="display:none;">
                                                <label style="width:150px;" id="lblattachfile"></label>
                                                <button id="btndelete" class="btn btn-outline-secondary">✖</button>
                                            </div>

                                            <div id="file1" style="display:none;">
                                                <label style="width:150px;" id="lblattachfile1"></label>
                                                <button id="btndelete1" class="btn btn-outline-secondary">✖</button>
                                            </div>

                                            <div id="file2" style="display:none;">
                                                <label style="width:150px;" id="lblattachfile2"></label>
                                                <button id="btndelete2" class="btn btn-outline-secondary">✖</button>
                                            </div>

                                            <div id="file3" style="display:none;">
                                                <label style="width:150px;" id="lblattachfile3"></label>
                                                <button id="btndelete3" class="btn btn-outline-secondary">✖</button>
                                            </div>
                                            <span>最大4ファイル添付可能。</span>
                                        </div>


                                    </div>
                                    <div class="boxc-rowc">
                                        <div class="boxc boxpd tab002tit">お知らせ内容</div>
                                    </div>
                                    <div class="boxc-rowc">
                                        <div class="boxc">
                                            @*<textarea class="form-control" id="txtarea" rows="15"></textarea>*@
                                            @Html.TextAreaFor(m => m.TinfoModel.DetailInformation, new { @class = "form-control", @rows = "15", @id = "txtarea" })
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function expandTextarea(id) {
                                        document.getElementById(id).addEventListener('keyup', function () {
                                            this.style.overflow = 'hidden';
                                            this.style.height = 0;
                                            this.style.height = this.scrollHeight + 'px';
                                        }, false);
                                    }

                                    expandTextarea('txtarea');</script>
                            </div>
                            <div class="newr col-md-7">
                                <div class="float-left"><h6>お知らせ一覧</h6></div><div class="float-right">


                                    <div class="btn-group">
                                        <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                        <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                    </div>


                                </div>
                                <table class="tab002" id="tbinformation">
                                    <thead>
                                        <tr class="tab002tit">
                                            <th class="tab002tit" style="border: 1px solid #999999;">No</th>
                                            <th class="tab002tit" style="border: 1px solid #999999;">課題名</th>
                                            <th class="tab002tit" style="border: 1px solid #999999;">&nbsp;</th>
                                            <th class="tab002tit" style="border: 1px solid #999999;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
}

<!-- script-for sticky-nav -->
<script>
    // define variables
    var nativePicker = document.querySelector('.nativeDatePicker');
    var fallbackPicker = document.querySelector('.fallbackDatePicker');

    var yearSelect = document.querySelector('[name=year]');
    var monthSelect = document.querySelector('[name=month]');

    // Test whether a new date input falls back to a text input
    var testElement = document.createElement('input');

    try {
        test.type = 'date';
    } catch (e) {
        console.log(e.description);
    }

    // If it does, run the code inside the if () {} block
    if (testElement.type === 'text') {
        // hide the native picker and show the fallback
        nativePicker.hidden = true;
        fallbackPicker.hidden = false;

        // populate the days and years dynamically
        // (the months are always the same, therefore hardcoded)
        populateDays(monthSelect.value);
        populateYears();
    }

    function populateDays(month) {
        const daySelect = document.querySelector('[name=day]');
        const month = monthSelect.value;

        // Create variable to hold new number of days to inject
        let dayNum;

        // 31 or 30 days?
        switch (month) {
            case 'April':
            case 'June':
            case 'September':
            case 'November':
                dayNum = 30;
                break;
            case 'February':
                // If month is February, calculate whether it is a leap year or not
                const year = yearSelect.value;
                const isLeap = new Date(year, 1, 29).getMonth() === 1;
                dayNum = isLeap ? 29 : 28;
                break;
            default:
                dayNum = 31;
        }

        // inject the right number of new <option>s into the <select>
        daySelect.options = Array.from({
            length: dayNum
        }, function (index) {
            return index + 1;
        });

        // if previous day has already been set, set daySelect's value
        // to that day, to avoid the day jumping back to 1 when you
        // change the year
        if (previousDay) {
            daySelect.value = previousDay;

            // If the previous day was set to a high number, say 31, and then
            // you chose a month with fewer days in it (like February),
            // this code ensures that the highest day available
            // is selected, rather than showing a blank daySelect
            if (previousDay > daySelect.length + 1) {
                daySelect.selectedIndex = daySelect.length;
            }
        }
    }

    function populateYears() {
        // get this year as a number
        var year = (new Date()).getFullYear();

        // Make this year and the 100 years before it available in the <select>
        daySelect.options = Array.from({
            length: 100
        }, function (index) {
            return index + year;
        });
    }

    // when the month or year <select> values are changed, rerun populateDays()
    // in case the change affected the number of available days
    yearSelect.onchange = populateDays;
    monthSelect.onchange = populateDays;

    // preserve day selection
    var previousDay;

    // update what day has been set to previously
    // see end of populateDays() for usage
    daySelect.onchange = function () {
        previousDay = daySelect.value;
    }
</script>
<script>
    function odFunction() {
        var x = document.getElementById("mailbox-content");
        if (x.style.display === "block") {
            x.style.display = "none";

        } else {
            x.style.display = "block";
        }
    }
    $("#btnb").click(function () {
        $(this).text() === 'ブロック最小化' ?
            $(this).text('ブロック最小化') :
            $(this).text('ブロック表示')
    })
</script>
<script>
    $(document).ready(function () {
        var navoffeset = $(".header-main").offset().top;
        $(window).scroll(function () {
            var scrollpos = $(window).scrollTop();
            if (scrollpos >= navoffeset) {
                $(".header-main").addClass("fixed");
            } else {
                $(".header-main").removeClass("fixed");
            }
        });

    });
</script>


<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <img src="images/tennic.png" alt=""></a>
        <span>Order System</span>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i> <span>ホーム</span>
                    <div class="clearfix"></div>
                </a>
            </li>


            <li id="menu-academico">
                <a href="order_portal.html">
                    <i class="fa fa-shopping-cart nav_icon"></i><span>発注ポータル</span>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="order_input.html">
                    <i class="fa fa-table" aria-hidden="true"></i><span>発注入力</span>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li id="menu-academico">
                <a href="order_history.html">
                    <i class="fa fa-history"></i><span>発注履歴</span>
                    <div class="clearfix"></div>
                </a>
            </li>

            <li id="menu-academico">
                <a href="inventories.html">
                    <i class="fa fa-search" aria-hidden="true"></i><span>在庫照会</span>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li id="menu-academico">
                <a href="news_editor.html">
                    <i class="fa fa-plus" aria-hidden="true"></i><span>お知らせ入力</span>
                    <div class="clearfix"></div>
                </a>

            </li>



        </ul>
    </div>
</div>
<div class="clearfix"></div>

<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({
                "position": "absolute"
            });
        } else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({
                    "position": "relative"
                });
            }, 400);
        }

        toggle = !toggle;
    });
</script>

<!--js -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- /Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
