@model TOS_Model.OrderInputViewModel
@{
    /**/
    ViewBag.Title = "Order_Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TOS_Model.M_JobTimeableModel mj = new TOS_Model.M_JobTimeableModel();

    TOS_Model.M_CompanyShippingModel mcs = new TOS_Model.M_CompanyShippingModel();
    if (ViewData["JobTime"] != null)
    {
        mj = ViewData["JobTime"] as TOS_Model.M_JobTimeableModel;

    }
    if (ViewData["ShippingName"] != null)
    {
        mcs = ViewData["ShippingName"] as TOS_Model.M_CompanyShippingModel;
    }


}
<style>

    .mother-grid-inner {
        display: block !important;
        background-color: #edecec !important;
    }

    .left-content {
        background-color: #edecec !important;
    }
</style>


@section Styles {
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/manager-style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/icon-font.min.css" type='text/css' />
    @*<link rel="stylesheet" href="~/Content/order_portal.css" type='text/css' />*@
    <link rel="stylesheet" href="~/Content/order_input.css" type='text/css' />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var count = '@ViewBag.count'
            for (var k = 1; k <= 8; k++)
            {
                if (k > count) {
                    $("#makeritem" + k).hide();
                    $(".ISProductBody" + k).hide();
                }

            }
            var todaydate = new Date();
            var day = todaydate.getDate() + 3;
            var month = todaydate.getMonth() + 1;
            var year = todaydate.getFullYear();
            var datestring = day + "/" + month + "/" + year;
            $("#shipDate").val(datestring);
            var ImageName = '@ViewBag.ImageName'
            if (ImageName != null) {
                var Img = ImageName.split(",");
                for (var l = 1; l <= count; l++) {

                    if (Img.length <= count) {
                        $('#Timg' + l).attr("src", "http://localhost:27945/images/" + Img[l - 1]);
                    }
                }
            }

            $.ajax({
                url: '/Order/ShippingName_Select', // get mall
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlShippingName").append(
                            $('<option></option>').val(name.ShippingID).html(name.ShippingName));
                    });
                }
            });


            var table = $('#makeritem1').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/0",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": "",
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );

                    $.getJSON("../../Order/Order_Input_M_SKU_Select/0",
                        function (json) {

                            var table = $.makeTable(json)
                            $(table).appendTo('#sku1')

                });

            //tb2
            var table = $('#makeritem2').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/1",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );


            //var mytable = document.getElementById('makeritem');
            //var tex = $('#makeritem2').find("tr:eq(0)").find("td:eq(1)").html();
            //alert(tex);
            $.getJSON("../../Order/Order_Input_M_SKU_Select/1",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku2')

                });

                var table = $('#makeritem3').DataTable(
                {

                    columnDefs: [
                    //    {
                    //    "data": null,
                    //    "defaultContent": " ",
                    //    "targets": [0,1,2,3,4,5,6,7]
                    //},
                    {
                        targets: [1, 3, 4, 5, 6],
                        className: 'saict t100'
                    },
                    {
                        targets: [0],
                        className: 'saict'
                    },
                    {
                        targets: [7],
                        className: 'saict t200'
                    },
                    {
                        targets: [2],
                        className: 'saict t300'
                    }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/2",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );



            $.getJSON("../../Order/Order_Input_M_SKU_Select/2",
                function (json) {
                    //if (json != null) {
                        var table = $.makeTable(json)
                        $(table).appendTo('#sku3')
                    //}

                });
            var table = $('#makeritem4').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/3",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500"/>';
                            },
                        },
                    ],
                }
            );

            $.getJSON("../../Order/Order_Input_M_SKU_Select/3",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku4')

                });

            var table = $('#makeritem5').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/4",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );

            $.getJSON("../../Order/Order_Input_M_SKU_Select/4",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku5')

                });

            var table = $('#makeritem6').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/5",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );

            $.getJSON("../../Order/Order_Input_M_SKU_Select/5",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku6')

                });

            var table = $('#makeritem7').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/6",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );

            $.getJSON("../../Order/Order_Input_M_SKU_Select/6",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku7')

                });

            var table = $('#makeritem8').DataTable(
                {

                    columnDefs: [
                        //    {
                        //    "data": null,
                        //    "defaultContent": " ",
                        //    "targets": [0,1,2,3,4,5,6,7]
                        //},
                        {
                            targets: [1, 3, 4, 5, 6],
                            className: 'saict t100'
                        },
                        {
                            targets: [0],
                            className: 'saict'
                        },
                        {
                            targets: [7],
                            className: 'saict t200'
                        },
                        {
                            targets: [2],
                            className: 'saict t300'
                        }],
                    "destroy": true,
                    responsive: false,
                    //"scrollX": true,
                    "bInfo": false,
                    paging: false,
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "ajax": {
                        "url": "../../Order/Order_Input_M_Item_Select/7",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<a href="#clearfix" class = "hideLink" >非表示</a>';

                            },
                        },
                        //{ "data": "", "orderable": "false", "width": "15%" },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "ListPrice(InTax)", orderable: false },
                        { "data": "SalePrice(InTax)", orderable: false },
                        { "data": "Lot", orderable: false },
                        {
                            "data": "", "render": function (data, type, row) {
                                return '<input class="form-control" type="text" maxlength="500" />';
                            },
                        },
                    ],
                }
            );

            $.getJSON("../../Order/Order_Input_M_SKU_Select/7",
                function (json) {

                    var table = $.makeTable(json)
                    $(table).appendTo('#sku8')

                });

        });


        $.makeTable = function (mydata) {
            var table = $('<table class="tt">');
            var tblHeader = "<tr class ='odrinfo'>";
            tblHeader += "<td class='t300 saict tab002tit'>摘要</td>";
            for (var k in mydata[0]) {
                if (k == 'サイズｘカラー') {
                    tblHeader += "<td width='17%' class='tab002tit saict'>" + k + "</td>";
                }
                else
                {
                    tblHeader += "<td class='t300 tab002tit saict'>" + k + "</td>";
                }
            }
            tblHeader += "</tr>";
            $(tblHeader).appendTo(table);
            $.each(mydata, function (index, value) {

                var TableRow = "<tr class='saisinHeading odrinfo'>";
                TableRow += "<td width='20%'><input class='form-control' type='text' maxlength='500' /></td>"

                $.each(value, function (key, val) {
                    if (val.indexOf(',') > -1) {
                        var tmp = val.split(",");
                        //TableRow += "<td class='saict'>" + tmp[0] + "<label class='admincd' style='visibility: hidden'>" + tmp[1] + "</label></td>";
                        TableRow += "<td class='saict'> <label class='InventoryCount'> " + tmp[0] + "</label> <label class='admincd' style='visibility: hidden'>" + tmp[1] + "</label></td>";
                    }
                    else
                    {
                        TableRow += "<td class='saict'>" + val + "</td>";

                    }
                    //var tmp = val.split(",");
                    //TableRow += "<td class='saict'>" + tmp[0] + "<label class='admincd'>"+ tmp[1]+ "</label></td>";
                });
                TableRow += "</tr>";
                $(table).append(TableRow);

                //var Tablefixfrow = "<tr>< td width='30px' class='t30 saict tab002tit'> 摘要</td ><td width='30px' class='t30 tab002tit saict'>発注数</td><td class='odr6'><input class='t30 form-control' type='text' value='0' /></td><td class='odr6'><input class='t30 form-control' type='text' value='0' /></td></tr>";
                var Tablefixfrow = "<tr><td class='t30 saict tab002tit'> 摘要</td >";
                Tablefixfrow += "<td class='t30 tab002tit saict'>発注数</td>";
                var count = Object.keys(mydata[0]).length;
                //alert(count);
                for (var i = 1; i < count; i++) {
                    Tablefixfrow += " <td class='odr6'><input class='form-control sair' type='text' onkeypress = 'return isNumberKey(event)' /></td>";
                };
                Tablefixfrow += "</tr > ";
                $(table).append(Tablefixfrow);
            });
            return ($(table));
        };

        jQuery('#makeritem1').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody1").toggle();

            return false;
        });
        jQuery('#makeritem2').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody2").toggle();

            return false;
        });
        jQuery('#makeritem3').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody3").toggle();

            return false;
        });
        jQuery('#makeritem4').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody4").toggle();

            return false;
        });
        jQuery('#makeritem5').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody5").toggle();

            return false;
        });
        jQuery('#makeritem6').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody6").toggle();

            return false;
        });
        jQuery('#makeritem7').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody7").toggle();

            return false;
        });
        jQuery('#makeritem8').on('click', 'tr:gt(0)>td>a.hideLink', function () {
            if ($(this).text() == "非表示") {
                $(this).text("表示");
            } else {
                $(this).text("非表示");
            }
            $(".ISProductBody8").toggle();

            return false;
        });

        $("#btnSearch").click(function () {
            var MakerItemCD = "";
            if ($("#txt1").val() != '')
                MakerItemCD += $("#txt1").val() + ',';
            if ($("#txt2").val() != '')
                MakerItemCD += $("#txt2").val() + ',';
            if ($("#txt3").val() != '')
                MakerItemCD += $("#txt3").val() + ',';
            if ($("#txt4").val() != '')
                MakerItemCD += $("#txt4").val() + ',';
            if ($("#txt5").val() != '')
                MakerItemCD += $("#txt5").val() + ',';
            if ($("#txt6").val() != '')
                MakerItemCD += $("#txt6").val() + ',';
            if ($("#txt7").val() != '')
                MakerItemCD += $("#txt7").val() + ',';
            if ($("#txt8").val() != '')
                MakerItemCD += $("#txt8").val() + ',';
            if (MakerItemCD.indexOf(',') > 0)
                MakerItemCD = MakerItemCD.slice(0, -1);
            if (MakerItemCD == null || MakerItemCD == "")
            {
                Infomessage1('I', '1006', 'Message1');
            }
            else
            {
                window.location.href = '../../Order/Order_Input/' + MakerItemCD;
            }
        })

        $("#btnClear").click(function () {
            $("#txt1").val("");
            $("#txt2").val("");
            $("#txt3").val("");
            $("#txt4").val("");
            $("#txt5").val("");
            $("#txt6").val("");
            $("#txt7").val("");
            $("#txt8").val("");
        })

        $("#btnreset").click(function () {
            $("select#ddlShippingName")[0].selectedIndex = 0;
             $("#postalcode").val("");
             $("#phno").val("");
             $("#shipname").val("");
             $("#add1").val("");
            $("#add2").val("");
            var todaydate = new Date();
            var day = todaydate.getDate() + 3;
            var month = todaydate.getMonth() + 1;
            var year = todaydate.getFullYear();
            var datest = day + "/" + month + "/" + year;
            var inputF = document.getElementById("shipDate");
            inputF.setAttribute('value', datest);
             $("#txtsummary").val("");
            $("#totalamt").val("");
            var c = '@ViewBag.count'
            for (var j = 1; j <= c; j++) {
                $('#makeritem' + j).find('input[type=text]').each(function () {
                   // console.log(this.value)
                    $(this).val("");
                });
                $('#sku' + j).find('input[type=text]').each(function () {
                    // console.log(this.value)
                    $(this).val("");
                });
            }

           // $('.tab001').find('input: Text').val('');
        });

        $("#btntotal").click(function () {
            var c = '@ViewBag.count';
            var totalamount = 0;

            for (var k = 1; k <= c; k++) {
                var price = $('#makeritem' + k).find("tr:eq(1)").find("td:eq(5)").html();
                $('#sku' + k + ' tr').each(function () {
                    var count = 0;
                    $(this).find('.odr6 > input[type=text]').each(function () {
                        count = +count + +this.value;
                    });
                    if (count>0) {
                        totalamount = +totalamount + (+count * +price);
                    }
                });

            }
            $("#totalamt").val(totalamount);
        });

        function isEven(n) {
            return n % 2 == 0;
        }

        function isOdd(n) {
            return Math.abs(n % 2) == 1;
        }

        $("#btnSaveOrder").click(function () {
            var c = '@ViewBag.count';
            var totalamount = 0;

            for (var h = 1; h <= c; h++) {
                var price = $('#makeritem' + h).find("tr:eq(1)").find("td:eq(5)").html();

                $('#sku' + h + ' tr').each(function () {
                    var count = 0;
                    $(this).find('.odr6 > input[type=text]').each(function () {
                        count = +count + +this.value;
                    });
                    if (count>0) {
                        totalamount = +totalamount + (+count * +price);
                    }
                });

            }
            if (totalamount == 0) {
                var E = "I";
                var T = "1007";
                var M = "Message1";
                Infomessage1(E, T, M);
            }
            else {
                var todaydate = new Date();
                var day = fixDigit(todaydate.getDate());
                var month = fixDigit(todaydate.getMonth() + 1);
                var year = todaydate.getFullYear().toString().substr(-2);
                var orderid = 'J' + year + month + day + fixDigit(todaydate.getHours()) + fixDigit(todaydate.getMinutes()) + fixDigit(todaydate.getSeconds());

                var shipid = $("select#ddlShippingName").val();
                var T_OrderHeader = {};
                if (shipid == null || shipid == "") { shipid = 0; }
                if (shipid == null || shipid == "") {
                    var postalcode = $("#postalcode").val();
                  
                    T_OrderHeader.OrderID = orderid;
                    T_OrderHeader.ShippingID = 0;
                    if (postalcode.indexOf('-') > -1) {
                        var tmp = postalcode.split("-");
                        T_OrderHeader.ZipCD1 = tmp[0];
                        T_OrderHeader.ZipCD2 = tmp[1];
                    }
                    else {
                        T_OrderHeader.ZipCD1 = "";
                        T_OrderHeader.ZipCD2 = "";
                    }


                    T_OrderHeader.TelephoneNO = $("#phno").val();
                    T_OrderHeader.ShippingName = $("#shipname").val();
                    T_OrderHeader.Address1 = $("#add1").val();
                    T_OrderHeader.Address2 = $("#add2").val();
                    T_OrderHeader.TotalAmount = totalamount;
                    T_OrderHeader.Memo = $("#txtsummary").val();

                }
                else {
                    T_OrderHeader.OrderID = orderid;
                    T_OrderHeader.ShippingID = shipid;
                    T_OrderHeader.ZipCD1 = "";
                    T_OrderHeader.ZipCD2 = "";
                    T_OrderHeader.TelephoneNo = "";
                    T_OrderHeader.ShippingName = "";
                    T_OrderHeader.Address1 = "";
                    T_OrderHeader.Address2 = "";
                    T_OrderHeader.TotalAmount = totalamount;
                    T_OrderHeader.Memo = $("#txtsummary").val();
                }
                var order = new Array();
                for (var k = 1; k <= c; k++) {

                    var price = $('#makeritem' + k).find("tr:eq(1)").find("td:eq(5)").html();
                    var ItemMemo = $('#makeritem' + k).find("tr:eq(1)").find("td:eq(7)").find('input[type=text]').html();
                    //alert(price);
                    var table = document.getElementById("sku" + k).getElementsByClassName("tt")[0];
                    var text = "";
                    for (var i = 1, row; row = table.rows[i]; i++) {

                        for (var j = 0, col; col = row.cells[j]; j++) {

                            if (j == 0) {
                                var skumemo = table.rows[i].cells[0].getElementsByClassName("form-control")[0].value;
                                j = j + 1;
                            }
                            else {
                                var ordercount = table.rows[i + 1].cells[j].getElementsByClassName("form-control sair")[0].value;

                                if (ordercount != null && ordercount > 0) {
                                    //alert(ordercount);
                                    var inventorycount = table.rows[i].cells[j].getElementsByClassName("InventoryCount")[0].textContent;
                                    var adminCD = table.rows[i].cells[j].getElementsByClassName("admincd")[0].textContent;
                                    var T_OrderDetail = {}
                                    T_OrderDetail.OrderID = orderid;
                                    T_OrderDetail.AdminCD = adminCD;
                                    T_OrderDetail.OrderItem = ordercount;
                                    T_OrderDetail.StockItem = inventorycount;
                                    T_OrderDetail.SalePrice = price;
                                    T_OrderDetail.Memo = ItemMemo;
                                    T_OrderDetail.TotalAmount = ordercount * price;

                                    if (skumemo == null || skumemo == "") {
                                        T_OrderDetail.Memo = ItemMemo;
                                    }
                                    else {
                                        T_OrderDetail.Memo = skumemo;
                                    }
                                    T_OrderDetail.AvailableShippingDate = $("#shipDate").val().toString();
                                    order.push(T_OrderDetail);
                                }
                            }

                        }
                        i = i + 1;

                    }

                }
               
                $.ajax({
                    url: "../../Order/InserOrder",
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({ T_OrderHeader: T_OrderHeader, T_OrderDetail: order }),
                    cache: false,
                    success: function (result) {
                       
                        //alert(result);
                        window.location.href = '../../Order/Order_History/' + result.orderid;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        Errormessage('E', '1006', 'Message1');
                    
                    }
                });

            }
        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            else
                return true;
        }
        function fixDigit(val) {
            return val.toString().length === 1 ? "0" + val : val;
        }

    </script>

}
@RenderPage("~/Views/CommonView/Common_View.cshtml")

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../Home/Index">ホーム</a> <i class="fa fa-angle-right"></i> <a href="../../Order/order_portal">発注ポータル</a><i class="fa fa-angle-right"></i>発注入力</li>
</ol>
<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content" id="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="odfloat-left">

                            <div class="orderpcom">
                                <div class="orderpcomBody">
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm">メーカー品番</div>
                                        <div class="orderpcomCelln">1</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt1" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">2</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt2" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">3</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt3" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">4</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt4" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">5</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt5" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">6</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt6" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">7</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt7" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">8</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt8" class="form-control" placeholder="品番入力" maxlength="60"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell">
                                            <div class="orderpcomCell">
                                                <div class="orderpcomCell">
                                                    <button type="button" id="btnSearch" class="odsec btn btn-success"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;検索</button>
                                                </div>
                                                <div class="orderpcomCell">
                                                    <button type="button" id="btnClear" class="odsec btn btn-warning">↺&nbsp;リセット</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- orderpcom.com -->

                        </div>
                        <div class="odfloat-right">


                            <div class="odbtn-group odbtn-groupl">
                                <div class="orderpcom">
                                    <div class="orderpcomBodycom">
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">株式会社テニック</div>
                                            <div class="orderpcomCell"></div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">大阪本社</div>
                                            <div class="orderpcomCell">東京営業所</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">〒530-0043 北区天満2-13-8</div>
                                            <div class="orderpcomCell">〒108-0073 港区三田4-1-4</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">TEL：06-6358-5031</div>
                                            <div class="orderpcomCell">TEL：03-5439-6250</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">FAX：06-6358-9210</div>
                                            <div class="orderpcomCell">FAX：03-5439-6251</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="odbtn-group">
                                <div class="eigyo eigyoRowtit"><span>利用可能時間</span></div>
                                <div class="eigyo">
                                    <div class="eigyoBody">
                                        <div class="eigyoRow">

                                        </div>
                                        <div class="eigyoRow eigyoRowtit">
                                            <div class="eigyoCell">業務</div>
                                            <div class="eigyoCell ">弊社営業時間</div>
                                        </div>

                                        <div class="eigyoRow">
                                            <div class="eigyoCell">照会発注</div>
                                            <div class="eigyoCell">@mj.OrderAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">発注取消</div>
                                            <div class="eigyoCell">@mj.CancelAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">上記以外</div>
                                            <div class="eigyoCell saict">@mj.ExceptionAboutPeriod</div>
                                        </div>


                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>

                </div><!--<div class="odminiblock"><button onclick="odFunction()"  id="btnb" type="button" class="btn btn-secondary">ブロック最小化</button></div>-->
            </div>
        </div>


    </div>

</div>
<!-- script-for sticky-nav -->

<script>
    function odFunction() {
        var x = document.getElementById("mailbox-content");
        if (x.style.display === "block") {
            x.style.display = "none";

        } else {
            x.style.display = "block";
        }
    }
    $("#btnb").click(function () {
        $(this).text() === 'ブロック最小化'
            ? $(this).text('ブロック最小化')
            : $(this).text('ブロック表示')
    })
</script>


<div class="tab-content tab-content-in w3 orderlist">
    <div class="tab-pane text-style active" id="tab1">
        <div class="inbox-right">

            <!-- tab content -->
            @*<object data="order_input_table.html" width="100%" height="1200px" type="text/html">
                    Alternative Content
                </object>*@
            @Html.AntiForgeryToken()
            @using (Html.BeginForm("InsertOrderHeader", "Order", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <table class="tab001">
                    <tbody>
                        <tr>
                            <td class="t20p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t70">出荷先名</td>
                                            <td>
                                                @*<div class="btn-group t200">*@
                                                @*<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle t200" data-toggle="dropdown" type="button">ラケット</button>*@
                                                @*<div class="dropdown-menu t200">*@
                                                @*@Html.DropDownList("ddlShippingName", new SelectList(Enumerable.Empty<SelectListItem>()), "")*@
                                                @*@Html.DropDownListFor(m =>m.,
                                                    new SelectList(Enumerable.Empty<SelectListItem>()), "選択",
                                                    new {@id= "ddlCompanyName",@name= "ddlCompanyName", @class = "form-control input-sm", @style = "width :210px" })*@
                                                @Html.DropDownList("ddlShippingName",
                              new SelectList(Enumerable.Empty<SelectListItem>()), "選択",
                              new { @class = "form-control t200" })

                                                @*</div>*@
                                                @*</div>*@
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t70 textri">郵便番号</td>
                                            <td class="t100"><input id="postalcode" class="form-control" type="text" maxlength="8" /></td>
                                            <td class="t30"></td>
                                            <td class="t70 textri">電話番号</td>
                                            <td class="t200"><input id="phno" class="form-control" type="text" maxlength="15" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t150 textri"></td>
                                            <td class="t70 textri">
                                                <div class="textri"><button type="button" id="btntotal" class="btn btn-success btnod">✚&nbsp;金額計算</button></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="t20p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t70">発送先名</td>
                                            <td>
                                                <div class="btn-group t200">
                                                    @*<input class="form-control" type="add" />*@
                                                    <input id="shipname" class="form-control" type="text" maxlength="50" />
                                                    @*<button aria-expanded="false" aria-haspopup="true" class="btn btn-info dropdown-toggle t200" data-toggle="dropdown" type="button">キャピタル</button>
                                                        <div class="dropdown-menu t200">
                                                            <a class="dropdown-item" href="#">キャピタル</a> <a class="dropdown-item" href="#">BCT</a> <a class="dropdown-item" href="#">ACT</a>

                                                        </div>*@
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="t30p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t70 textri">住所1</td>
                                            <td class="t400"><input id="add1" class="form-control" type="text" maxlength="100" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="t20p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t100 textri">出荷可能日</td>
                                            <td><input id="shipDate" class="form-control t350" type="text" readonly /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="t20p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t150 textri"><button ID="btnreset" type="reset" class="btn btn-warning btnod">↺&nbsp;リセット</button></td>
                                            <td class="t100 textri"><button id="btnSaveOrder" type="button" class="btn btn-danger btnod" style="background-color:#dc3545; border-color: #dc3545;">▶️&nbsp;発注</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="t20p">&nbsp;</td>
                            <td class="t30p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t70 textri">住所2</td>
                                            <td class="t400"><input id="add2" class="form-control" type="text" maxlength="100" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="t20p">
                                <table id="tbtotal">
                                    <tbody>
                                        <tr>
                                            <td class="t100 textri">発注合計金額</td>
                                            <td><input id="totalamt" class="form-control" type="text" disabled /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="t20p">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="t20p textri">摘要</td>
                                            <td class="t230"> <textarea class="form-control" id="txtsummary" rows="1" maxlength="500"></textarea></td>
                                            @*<script>

                                                    function expandTextarea(id) {
                                                        document.getElementById(id).addEventListener('keyup', function () {
                                                            this.style.overflow = 'hidden';
                                                            this.style.height = 0;
                                                            this.style.height = this.scrollHeight + 'px';
                                                        }, false);
                                                    }

                                                    expandTextarea('txtarea');
                                                </script>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <!------>
            }
            <table class="tab002" id="makeritem1">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody1" style="overflow:scroll;">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg1" src="" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku1" style="overflow:auto;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="tab002" id="makeritem2">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody2">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg2" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku2" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="tab002" id="makeritem3">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody3">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg3" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku3" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="tab002" id="makeritem4">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody4">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg4" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku4" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="tab002" id="makeritem5">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody5">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg5" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku5" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="tab002" id="makeritem6">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody6">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg6" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku6" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="tab002" id="makeritem7">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>

            <div class="inbox-mail ISProductBody7">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg7" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku7" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="tab002" id="makeritem8">
                @*<tbody>*@
                <thead class="tab002tit">
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100" width="150px">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                </thead>

            </table>



            <div class="inbox-mail ISProductBody8">
                <table>
                    <tbody>
                        <tr>
                            <td class="saitop"><img id="Timg8" src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                            <td>
                                <table class="tab002" id="sku8" style="overflow :scroll;"></table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!------>
            <!------>
            @*<table class="tab002">
                    <tbody>
                        <tr class="tab002tit">
                            <td class="t100">詳細表示</td>

                            <td class="t100">メーカー番号</td>
                            <td class="t300">商品名</td>
                            <td class="t100">ブランド</td>
                            <td class="t100">上代</td>
                            <td class="t100">下代</td>
                            <td class="t100">ロット</td>
                            <td class="t200">摘要</td>
                        </tr>
                        <tr>
                            <td class="saict">
                                <div class="ISHide"><a href="#clearfix" class="hideLinka">非表示</a></div>
                            </td>

                            <td class="sailf t100">AAA005</td>
                            <td class="sailf t300">クエークバスター/（KVI205）</td>
                            <td class="saict t100">テニック</td>
                            <td class="sair t100">￥8,400</td>
                            <td class="sair t100">￥9,400</td>
                            <td class="saict t100">2</td>
                            <td class="saict t200"><input class="form-control" type="tel" /></td>
                        </tr>


                    </tbody>
                </table>*@

            @*<script>

                    $(".hideLinka").on("click", function () {
                        alert("hideLinka");
                        if ($(this).text() == "非表示") {
                            $(this).text("表示");
                        } else {
                            $(this).text("非表示");
                        }
                        $(".ISProductBodya").toggle();

                        return false;
                    });

                </script>*@
            <div class="inbox-mail ISProductBodya">

                <!-- tab content -->
                <object width="100%" height="350px" type="text/html">
                    Alternative Content
                </object>



            </div>



        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@
