
@{
    ViewBag.Title = "Order_Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TOS_Model.M_JobTimeableModel mj = ViewData["JobTime"] as TOS_Model.M_JobTimeableModel;
}
@section Styles {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="~/Content/order_portal.css" type='text/css' />
    @*<link rel="stylesheet" href="~/Content/order_input.css" type='text/css' />*@

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
}
<style>
    .tb0010 {
        border: 1px solid #999999;
        width: 2000px !important;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../Home/Index">ホーム</a><i class="fa fa-angle-right"></i>発注ポータル</li>
</ol>
@RenderPage("~/Views/CommonView/Common_View.cshtml")
@*@if (TempData["Nmsg"] != null)
    {
        <script>
            Infomessage('I', '1006', 'Message1');
        </script>
    }*@
<div class="inbox-mail">
    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">
                <div class="mailbox-content" id="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="odfloat-left">
                            <div class="orderpcom">
                                <div class="orderpcomBody">
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm">メーカー品番</div>
                                        <div class="orderpcomCelln">1</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt1" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">2</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt2" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">3</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt3" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">4</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt4" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">5</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt5" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">6</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt6" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">7</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt7" class="form-control" placeholder="品番入力" maxlength="60"></div>
                                        <div class="orderpcomCelln">8</div>
                                        <div class="orderpcomCellc"> <input type="text" id="txt8" class="form-control" placeholder="品番入力" maxlength="60"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell">
                                            <div class="orderpcomCell">
                                                <div class="orderpcomCell">
                                                    <button type="button" id="btnSearch" class="odsec btn btn-success"><i class="fa fa-search" aria-hidden="true" style="color:white;"></i>&nbsp;検索</button>
                                                </div>
                                                <div class="orderpcomCell">
                                                    <button type="button" id="btnClear" class="odsec btn btn-warning">↺&nbsp;リセット</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- orderpcom.com -->
                        </div>
                        <div class="odfloat-right">
                            <div class="odbtn-group odbtn-groupl">
                                <div class="orderpcom">
                                    <div class="orderpcomBodycom">
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">株式会社テニック</div>
                                            <div class="orderpcomCell"></div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">大阪本社</div>
                                            <div class="orderpcomCell">東京営業所</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">〒530-0043 北区天満2-13-8</div>
                                            <div class="orderpcomCell">〒108-0073 港区三田4-1-4</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">TEL：06-6358-5031</div>
                                            <div class="orderpcomCell">TEL：03-5439-6250</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">FAX：06-6358-9210</div>
                                            <div class="orderpcomCell">FAX：03-5439-6251</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="odbtn-group">
                                <div class="eigyo eigyoRowtit"><span>利用可能時間</span></div>
                                <div class="eigyo">
                                    <div class="eigyoBody">
                                        <div class="eigyoRow">

                                        </div>
                                        <div class="eigyoRow eigyoRowtit">
                                            <div class="eigyoCell">業務</div>
                                            <div class="eigyoCell ">弊社営業時間</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">照会発注</div>
                                            <div class="eigyoCell">@mj.OrderAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">発注取消</div>
                                            <div class="eigyoCell">@mj.CancelAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">上記以外</div>
                                            <div class="eigyoCell saict">@mj.ExceptionAboutPeriod</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>
    <div class="tab-content tab-content-in w3 orderlist">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">
                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <div class="odtitle">
                                <h4>最新の発注状況(最大20件まで表示)</h4>
                            </div>
                        </div>
                        @*<div class="float-right">
                                <div class="btn-group">
                                    <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                    <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>*@
                    </div>
                    @*<div class="saisin" >*@
                    <div style="overflow:scroll;">
                        <table id="tblOrderPortal" class="tb0010">
                            <thead>
                                <tr class="saisinRow">
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">NO</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">発注番号</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">商品番号</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">商品名</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">サイズ</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">カラー</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">発注数</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">引当数</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">下代</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">合計</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">発注日</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">発注時刻</th>
                                    <th class="titcolor" style="border: 1px solid #999999;font-weight:unset;">出荷日</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tblOrderPortal').DataTable(
                {
                    "createdRow": function (row, data, dataIndex) {
                        $(row).addClass("saisinRow");
                    },
                    columnDefs: [{
                        targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                        className: 'saisinCell'
                    }],
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "aLengthMenu": [20],
                    "pagingType": "full_numbers",
                    "ajax": {
                        "url": "../Order/Get_Order_Portal_List",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "language": {
                        "emptyTable": "検索結果がありません。",
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                    },
                    "columns": [
                        { "data": "No", orderable: false },
                        { "data": "OrderID", orderable: false },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "SizeName", orderable: false },
                        { "data": "ColorName", orderable: false },
                        { "data": "OrderItem", orderable: false },
                        { "data": "StockItem", orderable: false },
                        { "data": "SalePrice", orderable: false },
                        { "data": "TotalAmount", orderable: false },
                        { "data": "OrderDate", orderable: false },
                        { "data": "OrderTime", orderable: false },
                        { "data": "ShippingDate", orderable: false },
                    ],
                }
            );
        });


    </script>

    <script type="text/javascript">
        $("#btnClear").click(function () {
            $("#txt1").val("");
            $("#txt2").val("");
            $("#txt3").val("");
            $("#txt4").val("");
            $("#txt5").val("");
            $("#txt6").val("");
            $("#txt7").val("");
            $("#txt8").val("");
        })
        $("#btnSearch").click(function () {
            var MakerItemCD = "";
            if ($("#txt1").val() != '')
                MakerItemCD += $("#txt1").val() + ',';
            if ($("#txt2").val() != '')
                MakerItemCD += $("#txt2").val() + ',';
            if ($("#txt3").val() != '')
                MakerItemCD += $("#txt3").val() + ',';
            if ($("#txt4").val() != '')
                MakerItemCD += $("#txt4").val() + ',';
            if ($("#txt5").val() != '')
                MakerItemCD += $("#txt5").val() + ',';
            if ($("#txt6").val() != '')
                MakerItemCD += $("#txt6").val() + ',';
            if ($("#txt7").val() != '')
                MakerItemCD += $("#txt7").val() + ',';
            if ($("#txt8").val() != '')
                MakerItemCD += $("#txt8").val() + ',';
            if (MakerItemCD.indexOf(',') > 0)
                MakerItemCD = MakerItemCD.slice(0, -1);
            if ($('#txt1').val() == '' && $('#txt2').val() == '' && $('#txt3').val() == '' && $('#txt4').val() == '' && $('#txt5').val() == '' && $('#txt6').val() == '' && $('#txt7').val() == '' && $('#txt8').val() == '') {
                //alert('Please First Fill Maker_ItemCD!');
                //var output = "";
                //$.ajax({
                //    url: "../Order/GetMessage",
                //    type: 'Get',
                //    dataType: "json",

                //    success: function (result) {
                //        output = result;
                //    },
                //    error: function failCallBk(XMLHttpRequest, textStatus, errorThrown) {
                //        alert("An error occurred while processing your request. Please try again.");
                //    }
                //});
                var T = "I";
                var K = "1006";
                var M = "Message1";
                Infomessage(T, K, M);
            }
            else {
                //window.location.href = '../Order/Order_Input/' + MakerItemCD;
                window.location.href =  '@Url.Action("Order_Input", "Order")?id=' + MakerItemCD
            }
        })
    </script>
}

