
@{
    ViewBag.Title = "Order_History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Style link-->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Site.css" rel="stylesheet" />

<link href="~/Content/monthly.css" rel="stylesheet" />
<link href="~/Content/morris.css" rel="stylesheet" />
<link href="~/Content/news.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--Order History page link-->
<link href="~/Content/order_history.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">ホーム</a><i class="fa fa-angle-right"></i>発注履歴</li>
</ol>

@{
    var inid = ViewBag.InputOrderID;
    if (inid != null)
    {
        <div class="inbox-mail" id="Order_First11">
            <!-- tab content -->
            <div class="tab-content tab-content-in w3">
                <div class="tab-pane text-style active" id="tab1">
                    <div class="inbox-right">
                        全商品発注できました。
                        <table class="histoptab" id="Order_First" >
                            <thead>
                                <tr class="histoptabtit">
                                    <td class="tda t150" style="text-align:center !important;">発注番号</td>
                                    <td class="tda t150" style="text-align:center !important;">合計金額</td>
                                    <td class="tda t200" style="text-align:center !important;">出荷先名</td>
                                    <td class="tda t150" style="text-align:center !important;">発注日</td>
                                    <td class="tda t150" style="text-align:center !important;">出荷可能日</td>
                                    <td class="tda t100" style="text-align:center !important;">受付時間</td>

                                    <td class="histoptabno t200"></td>
                                    <td class="histoptabno t200"></td>
                                    <td class="histoptabno t200">
                                        <button type="button" id="PrintDoc" onclick="window.open('@Url.Action("ExportReport","Order")?id='+ '@ViewBag.InputOrderID')"  class="btn btn-info btn-lg ">✏&nbsp;出力</button>
                                    </td>
                                    <td class="histoptabno t200"></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}


<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content" id="mailbox-content">
                    <div class="mail-toolbar clearfix">

                        <table class="hacyuban">
                            <tbody>
                                <tr>
                                    <td class="t550">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>発注番号</td>
                                                    <td> <input type="text" id="txt_orderId" onkeypress="return ValidateSpecialOnly(event);" class="form-control" placeholder=""></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="t700">
                                        <table>
                                            <tbody>
                                                <tr class="sair">
                                                    <td class="t100">発注日</td>
                                                    <td>

                                                        <label class="nativeDatePicker">
                                                            <input type="date" name="bday" id="orderdate_from" onchange="check_orderdate()" class="form-control">

                                                        </label>～
                                                        <label class="nativeDatePicker">
                                                            <input type="date" name="bday" id="orderdate_to" onchange="check_orderdate()" class="form-control">

                                                        </label>
                                                        <fieldset class="fallbackDatePicker" hidden>
                                                            <legend class="fallbackLabel">Enter your birthday:</legend>

                                                            <label>
                                                                Day:
                                                                <select name="day"></select>
                                                            </label>

                                                            <label>
                                                                Month:
                                                                <select name="month">
                                                                    <option>January</option>
                                                                    <option>February</option>
                                                                    <option>March</option>
                                                                    <option>April</option>
                                                                    <option>May</option>
                                                                    <option>June</option>
                                                                    <option>July</option>
                                                                    <option>August</option>
                                                                    <option>September</option>
                                                                    <option>October</option>
                                                                    <option>November</option>
                                                                    <option>December</option>
                                                                </select>
                                                            </label>

                                                            <label>
                                                                Year:
                                                                <select name="year"></select>
                                                            </label>
                                                        </fieldset>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td class="t250">&nbsp;</td>
                                    <td class="saicc">
                                        <button type="button" id="textbox_clear" onclick="_ClearRefresh()" class="btn btn-warning">↺&nbsp;リセット</button>
                                    </td>
                                    <td class="t70 sair">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>出荷日</td>
                                                    <td>
                                                        <label class="nativeDatePicker">
                                                            <input type="date" name="bday" id="shipdate_from" onchange="check_shipdate()" class="form-control">

                                                        </label>～
                                                        <label class="nativeDatePicker">
                                                            <input type="date" name="bday" id="shipdate_to" onchange="check_shipdate()" class="form-control">

                                                        </label>
                                                        <fieldset class="fallbackDatePicker" hidden>
                                                            <legend class="fallbackLabel">Enter your birthday:</legend>

                                                            <label>
                                                                Day:
                                                                <select name="day"></select>
                                                            </label>

                                                            <label>
                                                                Month:
                                                                <select name="month">
                                                                    <option>January</option>
                                                                    <option>February</option>
                                                                    <option>March</option>
                                                                    <option>April</option>
                                                                    <option>May</option>
                                                                    <option>June</option>
                                                                    <option>July</option>
                                                                    <option>August</option>
                                                                    <option>September</option>
                                                                    <option>October</option>
                                                                    <option>November</option>
                                                                    <option>December</option>
                                                                </select>
                                                            </label>

                                                            <label>
                                                                Year:
                                                                <select name="year"></select>
                                                            </label>
                                                        </fieldset>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="t100">メーカー番号</td>
                                                    <td>
                                                        <table class="mekaban">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="mekabantit t30">1</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_1" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                    <td class="mekabantit t30">2</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_2" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="mekabantit">3</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_3" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                    <td class="mekabantit">4</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_4" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="mekabantit">5</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_5" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                    <td class="mekabantit">6</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_6" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="mekabantit" class="tab002tit">7</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_7" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                    <td class="mekabantit">8</td>
                                                                    <td><input type="text" class="form-control" id="MakerItemCD_8" placeholder="" onkeypress="return ValidateSpecialOnly(event);"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td class="saict"><button type="button" onclick="_SearchData()" class="btn btn-secondary btn-lg" id="Searchdata" style="background-color: #6c757d;color: white;font-weight: 700;"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;検索</button></td>
                                    <td>
                                        @*<br><br><br><br><br><br>*@
                                        <button type="button" id="btn_cancle0" data-toggle="modal" data-target="#myModal" class="btn btn-dark">✖&nbsp;発注キャンセル</button>
                                        @*<button type="button" id="btn_cancle1" data-toggle="modal" data-target="#myModalSuccess" class="btn btn-dark">✖&nbsp;発注キャンセル</button>
                                            <button type="button" id="btn_cancle2" data-toggle="modal" data-target="#myModalInfo" class="btn btn-dark">✖&nbsp;発注キャンセル</button>*@

                                        <button type="button" id="btn_cancle" onclick="_CancleTableRow()" class="btn btn-dark">✖&nbsp;発注キャンセル</button>

                                    </td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <!--modal-->
                    <!--Add second table-->
                    <div class="tab-content tab-content-in w3 orderlist">
                        <div class="tab-pane text-style active" id="tab1">


                            <div class="mailbox-content">
                                <div style="overflow:scroll">
                                    <!---->
                                    <table class="tab002" id="order_detail">
                                        <thead>
                                            <tr class="tab002tit">
                                                <td class="t30" id="ID" style="text-align:center;">No</td>
                                                <td class="checkAll" style="text-align:center;">&nbsp;</td>
                                                <td class="t100" style="text-align:center;">発注番号</td>
                                                <td class="t100" style="text-align:center;">商品番号</td>
                                                <td class="t250" style="text-align:center;">商品名</td>
                                                <td class="t70" style="text-align:center;">サイズ</td>
                                                <td class="t100" style="text-align:center;">カラー</td>
                                                <td class="t70" style="text-align:center;">発注数</td>
                                                <td class="t70" style="text-align:center;">引当数</td>
                                                <td class="t100" style="text-align:center;">下代</td>
                                                <td class="t100" style="text-align:center;">合計</td>
                                                <td class="t150" style="text-align:center;">発注日</td>
                                                <td class="t150" style="text-align:center;">発注時刻</td>
                                                <td class="t150" style="text-align:center;">出荷日</td>
                                                <td class="t300" style="text-align:center;">摘要</td>
                                                <td class="t300" hidden>AdminCD</td>
                                                <td class="t150" hidden>OrderStatus</td>
                                            </tr>
                                        </thead>
                                        <tbody id="order_detail_body"></tbody>
                                    </table>
                                </div>
                                <!---->
                            </div>



                        </div>
                    </div>
                    <!--end second table-->


                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                @*<h4 class="modal-title" style="color:red;"><img src="~/images/DeleteImg.png" /> 削除してよろしいですか。</h4>*@
                <img src="~/images/question.png" style="width:26px;height:26px;" /> <h4 class="modal-title" style="color:red;"> </h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:white;background-color:red;">いいえ</button>
                @{
                    var oid = ViewBag.InputOrderID;
                    if (oid != null)
                    {
                        <button type="button" class="btn btn-default" onclick="_CancleRow()" data-dismiss="modal" style="color:white;background-color:red">はい</button>

                    }
                    else
                    {

                        <button type="button" class="btn btn-default" onclick="_CancleRow1()" data-dismiss="modal" style="color:white;background-color:red">はい</button>

                    }

                }

            </div>
        </div>

    </div>
</div>

@RenderPage("~/Views/CommonView/Common_View.cshtml"); 




<style>


    table.dataTable thead td {
        padding: 8px 10px;
        border-bottom-color: white;
    }


    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #111;
        border-bottom-color: white;
    }

    .OrderStatus_5 {
        color: red;
    }

    .ffss {
        color: white;
    }

    .tab002 {
        width: 2000px !important;
        padding: 10px 18px;
    }

    .histoptab {
        width: 100% !important;
    }

    .mother-grid-inner {
        display: block !important;
        background-color: #edecec !important;
    }

    .left-content {
        background-color: #edecec !important;
    }

    table.dataTable {
        border-collapse: unset !important;
        text-align: center !important;
    }

    .tab002 {
        font-size: 15px !important;
    }

    table.dataTable.no-footer {
        border-bottom: none;
    }

    .histoptab {
        font-size: 0.9em !important;
    }
</style>

<script>
    $(document).ready(function () {
        //$("#btn_cancle1").hide();
        //$("#btn_cancle2").hide();
        $("#btn_cancle0").hide();
        var inid ='@ViewBag.InputOrderID';
        //alert(inid);
        if (inid != null)
        {
            FillGrid_1(inid);
           
        }
       
        FillGrid_2(inid);

        var input1 = document.getElementById("txt_orderId");
        input1.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("Searchdata").click();
            }
        });
    });
    function FillGrid_1(inid) {


            $.ajax({
                type: 'POST',
               
                url: '@Url.Action("OH_GetFirstTable", "Order")?id=' + inid,
                dataType: 'json',
                success: function (data) {
                    BindFirstTable(data);

                }
            });

    }

    function FillGrid_2(inid)
    {
        $.ajax({
            type: 'POST',
           
            url: '@Url.Action("OH_GetSecondTable", "Order")?id=' + inid,

            dataType: 'json',

            success: function (data) {
                BindSecondTable(data);

            }
        });

    }


    function FillGrid_3(id, o_f, o_t, s_f, s_t, m1, m2, m3, m4, m5, m6, m7, m8)
    {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("OH_GetSecondTable", "Order")",
            dataType: 'json',
            data: {
                id: id,
                o_f: o_f,
                o_t: o_t,
                s_f: s_f,
                s_t: s_t,
                m1: m1,
                m2: m2,
                m3: m3,
                m4: m4,
                m5: m5,
                m6: m6,
                m7: m7,
                m8: m8

            },
            success: function (data) {
                BindSecondTable(data);

            }
        });

    }

    function BindFirstTable(data)
    {

        var table = $("#Order_First").DataTable(
            {

                "destroy": true,
                //responsive: false,
                "scrollX": true,
                //"scrollY": true
                "paging": false,
                "info": false,
                "dom": 'lrtip',
                "bLengthChange": false,
               
                "data": data,
                "language": {
                    "emptyTable": "検索結果がありません。"
                },
                "columns": [
                    { "data": "OrderID", orderable: false },
                    { "data": "TotalAmount", orderable: false, render: $.fn.DataTable.render.number(',', '.', 0, '￥') },
                    { "data": "ShippingName", orderable: false },
                    { "data": "OrderDateTime_h", orderable: false },
                    { "data": "AvailableShippingDate", orderable: false },
                    { "data": "OrderDateTime_d", orderable: false },
                    { "data": null, orderable: false },
                    { "data": null, orderable: false },
                    { "data": null, orderable: false },
                    { "data": null, orderable: false }

                ],
                "columnDefs": [

                    {
                        targets: [ 3, 4,5],
                        className: 'tda saict'
                    },
                    {
                        targets: [1],
                        className: 'tda sair '
                    },
                    {
                        targets: [0,2],
                        className: 'tda sailf '
                    },
                    {
                        targets: [6,7,8,9],
                        className: 'histoptabno sair ffss',

                    },


                    ],




            }
        );

    }

    function BindSecondTable(data)
    {
        $("#order_detail").find("tbody tr").empty();

        var table = $("#order_detail").DataTable(
            {
                "destroy": true,
                //responsive: false,
                "scroll": false,
                "dom": 'lrtip',
                "bLengthChange": false,
                "aLengthMenu":[20],
                "data": data,
                "language": {

                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                },
                "createdRow": function (row, data, dataIndex) {
                    $(row).addClass("odr1");
                },
                "columns": [
                    { "data": "No", orderable: false },
                    {},
                    { "data": "OrderID", orderable: false },
                    { "data": "MakerItemCD", orderable: false },
                    { "data": "ItemName", orderable: false },
                    { "data": "SizeName", orderable: false },
                    { "data": "ColorName", orderable: false },
                    { "data": "OrderItem", orderable: false },
                    { "data": "StockItem", orderable: false },
                    { "data": "SalePrice", orderable: false, render: $.fn.DataTable.render.number(',', '.', 0, '￥') },
                    { "data": "TotalAmount", orderable: false, render: $.fn.DataTable.render.number(',', '.', 0, '￥') },
                    { "data": "OrderDate", orderable: false },
                    { "data": "OrderTime", orderable: false },
                    { "data": "ShippingDate", orderable: false },
                    { "data": "Memo", orderable: false },
                    { "data": "AdminCD", orderable: false },
                    { "data": "OrderStatus", orderable: false },


                ],

                "columnDefs": [
                    {
                        "targets": 1,
                        className:'saict odr1',
                        "data": "",
                        "render": function (data, type, row) {

                            return '<input type="checkbox" value="' + row.OrderID + '" id="horns" class="checkBox" name="' + row.AdminCD + '">';

                        }
                    },
                    {
                        targets: [ 5, 6, 11, 12, 13],
                        className: 'saict'
                    },
                    {
                        targets: [0,7,8,9, 10],
                        className: 'sair '
                    },
                    {
                        targets: [2, 3, 4, 14],
                        className: 'sailf '
                    },
                    {
                        targets: [15,16],
                        className: 'sailf ',
                        visible: false

                    },

                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData.OrderStatus == 5) {

                        $('td', nRow).css('color', 'red');
                    }
                    else if (aData.OrderStatus == "5") {
                        $('td', nRow).css('color', 'red');
                    }

                }

            }
        );

    }

</script>


<!--button's function script-->
<script>
 
                    
    function _ClearRefresh() {

        document.getElementById('txt_orderId').value = "";
        document.getElementById('orderdate_from').value = "";
        document.getElementById('orderdate_to').value = "";
        document.getElementById('shipdate_from').value = "";
        document.getElementById('shipdate_to').value = "";
        document.getElementById('MakerItemCD_1').value = "";
        document.getElementById('MakerItemCD_2').value = "";
        document.getElementById('MakerItemCD_3').value = "";
        document.getElementById('MakerItemCD_4').value = "";
        document.getElementById('MakerItemCD_5').value = "";
        document.getElementById('MakerItemCD_6').value = "";
        document.getElementById('MakerItemCD_7').value = "";
        document.getElementById('MakerItemCD_8').value = "";

        $("#Order_First11").hide();
       
       RefreshSecondTable_Refresh();
       

    }
    function RefreshFirstTable() {
        $.ajax({
            type: 'POST',
           
            url: '@Url.Action("OH_GetFirstTable", "Order")',
            dataType: 'json',
            success: function (data) {
                BindFirstTable(data);

            }
        });
    }

    function RefreshSecondTable(id) {
        $.ajax({
            type: 'POST',

            url: '@Url.Action("OH_GetSecondTable", "Order")?id=' + id,

            dataType: 'json',

            success: function (data) {
                BindSecondTable(data);

            }
        });
    }
      function RefreshSecondTable_Refresh() {
        $.ajax({
            type: 'POST',

            url: '@Url.Action("OH_GetSecondTable", "Order")',

            dataType: 'json',

            success: function (data) {
                BindSecondTable(data);

            }
        });
    }
    function _CancleTableRow() {

        var checked = jQuery('input:checkbox:checked').map(function () {

            return this.value + '_' + this.name;

        }).get();

        if (checked == "") {
            var E = "E";
            var T = "1001";
            var M = "Message1";
            Infomessage(E, T, M);

        }
        else {
            var Q = "Q";
            var K = "1002";
            var M = "Message1";
            Confrimmessage(Q, K, M);
        }

    }

    // Cancle Row from Order History Link
    function _CancleRow1()
    {
       
        var checked = jQuery('input:checkbox:checked').map(function () {
            return this.value + '_' + this.name;

        }).get();
       
        $.ajax({
            url: '@Url.Action("Delete_OderHistoryDetailRow", "Order")?id=' + checked,

            type: 'POST',
            dataType: 'JSON',

            success: function (data) {
               // alert(data);
                if (data != null) {
                    var Q = "Q";
                    var K = "1002";
                    var M = "Message2";
                    Successmessage(Q, K, M);

                    jQuery('input:checkbox:checked').parents("tr").remove();

                    RefreshSecondTable_Refresh();
                        //RefreshSecondTable(data);
                                     


                }

            }


        });

    }

  //Cancle Row (from Order Input Link)
    function _CancleRow() {
       
        var checked = jQuery('input:checkbox:checked').map(function () {
            return this.value + '_' + this.name;

        }).get();
       
        $.ajax({
            url: '@Url.Action("Delete_OderHistoryDetailRow", "Order")?id=' + checked,

            type: 'POST',
            dataType: 'JSON',

            success: function (data) {
               // alert(data);
                if (data != null) {
                    var Q = "Q";
                    var K = "1002";
                    var M = "Message2";
                    Successmessage(Q, K, M);
                   // alert("successfully deleted");

                    jQuery('input:checkbox:checked').parents("tr").remove();

                   // RefreshSecondTable_Refresh();
                    RefreshSecondTable(data);



                }

              

            }


        });

    }


    function Confrimmessage(t, k, m) {
        $.ajax({
            type: 'POST',
         
            url: '@Url.Action("OrderHistoryMessage", "Order")?id=' + t + '_' + k + '_' + m,
            dataType: 'json',
            success: function (data) {
                $('.modal-title').text(data);

                $("#btn_cancle0").click();

            }
        });

    }
    function check_orderdate() {

        var fromDate = document.getElementById("orderdate_from").value;
        var toDate = document.getElementById("orderdate_to").value;
        if ((fromDate != "" && toDate != "") && (Date.parse(fromDate) > Date.parse(toDate))) {
            //alert("To date should be greater than From date.");

            var T = "E";
            var K = "1003";
            var M = "Message1";
            Errormessage(T, K, M);
            document.getElementById('orderdate_from').value = "";
            document.getElementById('orderdate_to').value = "";


        }

    }
    function check_shipdate() {
        var fromDate = document.getElementById("shipdate_from").value;
        var toDate = document.getElementById("shipdate_to").value;
        if ((fromDate != "" && toDate != "") && (Date.parse(fromDate) > Date.parse(toDate))) {
            //alert("To date should be greater than From date.");
            var T = "E";
            var K = "1003";
            var M = "Message1";
            Errormessage(T, K, M);

            document.getElementById('shipdate_from').value = "";
            document.getElementById('shipdate_to').value = "";
        }

    }
    function _SearchData() {

        var txt_orderId = document.getElementById('txt_orderId').value;
        var orderdate_from = document.getElementById('orderdate_from').value;
        var orderdate_to = document.getElementById('orderdate_to').value;
        var shipdate_from = document.getElementById('shipdate_from').value;
        var shipdate_to = document.getElementById('shipdate_to').value;
        var MakerItemCD_1 = document.getElementById('MakerItemCD_1').value;
        var MakerItemCD_2 = document.getElementById('MakerItemCD_2').value;
        var MakerItemCD_3 = document.getElementById('MakerItemCD_3').value;
        var MakerItemCD_4 = document.getElementById('MakerItemCD_4').value;
        var MakerItemCD_5 = document.getElementById('MakerItemCD_5').value;
        var MakerItemCD_6 = document.getElementById('MakerItemCD_6').value;
        var MakerItemCD_7 = document.getElementById('MakerItemCD_7').value;
        var MakerItemCD_8 = document.getElementById('MakerItemCD_8').value;
        check_makeritemcd(MakerItemCD_1, MakerItemCD_2, MakerItemCD_3, MakerItemCD_4, MakerItemCD_5, MakerItemCD_6, MakerItemCD_7, MakerItemCD_8);

       
        FillGrid_3(txt_orderId, orderdate_from, orderdate_to, shipdate_from, shipdate_to, MakerItemCD_1, MakerItemCD_2, MakerItemCD_3, MakerItemCD_4, MakerItemCD_5, MakerItemCD_6, MakerItemCD_7, MakerItemCD_8);

    }

    function check_makeritemcd(m1, m2, m3, m4, m5, m6, m7, m8) {
        $.ajax({
            type: 'POST',
            
            url: '@Url.Action("Check_MakerItemCD", "Order")',
            data: {
                m1: m1,
                m2: m2,
                m3: m3,
                m4: m4,
                m5: m5,
                m6: m6,
                m7: m7,
                m8: m8
            },
            dataType: 'json',
            success: function (data) {
                if (data != "") {

                    ErrormessageMICD('I', '1006', 'Message1', data);

                }




            }
        });
    }

    function ErrormessageMICD(t, k, m, d) {
        $.ajax({
            type: 'POST',
   
            url: '@Url.Action("OrderHistoryMessage", "Order")?id=' + t + '_' + k + '_' + m,
            dataType: 'json',
            success: function (data) {
                $('.modal-title').text("(" + d + ")" + data);

                $("#btn_cancle3").click();

            }
        });
    }

   

</script>
